In [1655]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Target Variable

In [1656]:
cdc_drug_death_rate = pd.read_csv('data/cdc_drug_rates.csv')

In [1657]:
#check for any null values 
cdc_drug_death_rate.isna().sum()

FIPS                                                            0
Year                                                            0
State                                                           0
FIPS State                                                      0
County                                                          0
Population                                                      0
Estimated Age-adjusted Death Rate, 16 Categories (in ranges)    0
dtype: int64

In [1658]:
cdc_drug_death_rate.shape

(56448, 7)

In [1659]:
cdc_drug_death_rate.head()

,FIPS,Year,State,FIPS State,County,Population,"Estimated Age-adjusted Death Rate, 16 Categories (in ranges)"
0,1001,1999,Alabama,1,"Autauga County, AL","42,963",2-3.9
1,1001,2000,Alabama,1,"Autauga County, AL","44,021",4-5.9
2,1001,2001,Alabama,1,"Autauga County, AL","44,889",4-5.9
3,1001,2002,Alabama,1,"Autauga County, AL","45,909",4-5.9
4,1001,2003,Alabama,1,"Autauga County, AL","46,800",4-5.9

In [1660]:
cdc_drug_death_rate.columns = ['fips', 'year', 'state', 'fips_state', 'county', 'population', 'age_adjusted_death_rate']

In [1661]:
cdc_drug_death_rate.head()

,fips,year,state,fips_state,county,population,age_adjusted_death_rate
0,1001,1999,Alabama,1,"Autauga County, AL","42,963",2-3.9
1,1001,2000,Alabama,1,"Autauga County, AL","44,021",4-5.9
2,1001,2001,Alabama,1,"Autauga County, AL","44,889",4-5.9
3,1001,2002,Alabama,1,"Autauga County, AL","45,909",4-5.9
4,1001,2003,Alabama,1,"Autauga County, AL","46,800",4-5.9

In [1662]:
#drug-related death rate bucketed into 16 different value ranges 
cdc_drug_death_rate.age_adjusted_death_rate.value_counts()

6-7.9      8424
4-5.9      8267
8-9.9      7287
2-3.9      6592
10-11.9    5766
<2         4739
12-13.9    4361
14-15.9    3247
16-17.9    2285
18-19.9    1609
20-21.9    1163
22-23.9     785
30+         704
24-25.9     568
26-27.9     382
28-29.9     269
Name: age_adjusted_death_rate, dtype: int64

In [1663]:
#created new column rate_avg equal to the average of the range provided for drug-related death rate
rate_list = []
for rate in cdc_drug_death_rate.age_adjusted_death_rate:
    if len(rate) == 2: 
        rate_list.append(rate[-1])
    elif len(rate) == 3:
        rate_list.append(30)
    elif len(rate) == 5: 
        rate_list.append((float(rate[0]) + float(rate[-3:]))/2)
    else: 
        rate_list.append((float(rate[0:2]) + float(rate[-4:]))/2)

In [1664]:
cdc_drug_death_rate.rate_avg = rate_list

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [1665]:
cdc_drug_death_rate.insert(loc=7, column='rate_avg', value=rate_list)

In [1666]:
cdc_drug_death_rate.head()

,fips,year,state,fips_state,county,population,age_adjusted_death_rate,rate_avg
0,1001,1999,Alabama,1,"Autauga County, AL","42,963",2-3.9,2.95
1,1001,2000,Alabama,1,"Autauga County, AL","44,021",4-5.9,4.95
2,1001,2001,Alabama,1,"Autauga County, AL","44,889",4-5.9,4.95
3,1001,2002,Alabama,1,"Autauga County, AL","45,909",4-5.9,4.95
4,1001,2003,Alabama,1,"Autauga County, AL","46,800",4-5.9,4.95

In [1667]:
cdc_drug_death_rate.tail()

,fips,year,state,fips_state,county,population,age_adjusted_death_rate,rate_avg
56443,56045,2012,Wyoming,56,"Weston County, WY","7,065",12-13.9,12.95
56444,56045,2013,Wyoming,56,"Weston County, WY","7,160",14-15.9,14.95
56445,56045,2014,Wyoming,56,"Weston County, WY","7,185",14-15.9,14.95
56446,56045,2015,Wyoming,56,"Weston County, WY","7,234",16-17.9,16.95
56447,56045,2016,Wyoming,56,"Weston County, WY","7,236",18-19.9,18.95

In [1668]:
cdc_drug_death_rate['rate_avg'].value_counts()

6.95     8424
4.95     8267
8.95     7287
2.95     6592
10.95    5766
2        4739
12.95    4361
14.95    3247
16.95    2285
18.95    1609
20.95    1163
22.95     785
30        704
24.95     568
26.95     382
28.95     269
Name: rate_avg, dtype: int64

In [1669]:
#function returns CDC data corresponding to specified year 
def df_by_year(year, df):
    return df.loc[df['year'] == year]

In [1670]:
#selected only 2016 CDC data as it is the most recent data available 
cdc_2016 = df_by_year(2016, cdc_drug_death_rate)

In [1671]:
cdc_2016['rate_avg'].isnull().sum()

0

In [1672]:
cdc_2016.shape

(3136, 8)

In [1673]:
cdc_2016 = cdc_2016.set_index('county')

In [1674]:
cdc_2016.head()

,fips,year,state,fips_state,population,age_adjusted_death_rate,rate_avg
county,,,,,,,
"Autauga County, AL",1001,2016,Alabama,1,"55,416",10-11.9,10.95
"Baldwin County, AL",1003,2016,Alabama,1,"208,563",20-21.9,20.95
"Barbour County, AL",1005,2016,Alabama,1,"25,965",6-7.9,6.95
"Bibb County, AL",1007,2016,Alabama,1,"22,643",16-17.9,16.95
"Blount County, AL",1009,2016,Alabama,1,"57,704",16-17.9,16.95

In [1675]:
#drop columns so final target df only includs county, state, and age_adjusted_death_rate
cdc_2016 = cdc_2016.drop(['fips', 'year', 'fips_state', 'age_adjusted_death_rate'], axis=1)

# Features

### Investigate opioid prescriptions per 100 persons

In [1676]:
prescriptions = pd.read_csv('data/prescriptions.csv')

In [1677]:
prescriptions.head()

,STATEFP,COUNTYFP,YEAR,INDICATOR,VALUE,STATE,STATEABBREVIATION,COUNTY
0,2,20,2006,opioid_RxRate,71.5,Alaska,AK,Anchorage Municipality
1,2,90,2006,opioid_RxRate,54.7,Alaska,AK,Fairbanks North Star Borough
2,2,110,2006,opioid_RxRate,95.3,Alaska,AK,Juneau City and Borough
3,2,122,2006,opioid_RxRate,89.1,Alaska,AK,Kenai Peninsula Borough
4,2,130,2006,opioid_RxRate,144.4,Alaska,AK,Ketchikan Gateway Borough

In [1678]:
prescriptions.tail()

,STATEFP,COUNTYFP,YEAR,INDICATOR,VALUE,STATE,STATEABBREVIATION,COUNTY
38635,72,145,2017,opioid_RxRate,NaN,Puerto Rico,PR,Vega Baja Municipio
38636,72,147,2017,opioid_RxRate,NaN,Puerto Rico,PR,Vieques Municipio
38637,72,149,2017,opioid_RxRate,NaN,Puerto Rico,PR,Villalba Municipio
38638,72,151,2017,opioid_RxRate,NaN,Puerto Rico,PR,Yabucoa Municipio
38639,72,153,2017,opioid_RxRate,NaN,Puerto Rico,PR,Yauco Municipio

In [1679]:
prescriptions.shape

(38640, 8)

In [1680]:
prescriptions.isna().sum()

STATEFP                 0
COUNTYFP                0
YEAR                    0
INDICATOR               0
VALUE                4817
STATE                   0
STATEABBREVIATION       0
COUNTY                  0
dtype: int64

In [1681]:
prescriptions_2016 = prescriptions.loc[prescriptions['YEAR'] == 2016]

In [1682]:
prescriptions_2016.head()

,STATEFP,COUNTYFP,YEAR,INDICATOR,VALUE,STATE,STATEABBREVIATION,COUNTY
32200,2,20,2016,opioid_RxRate,66.3,Alaska,AK,Anchorage Municipality
32201,2,90,2016,opioid_RxRate,48.4,Alaska,AK,Fairbanks North Star Borough
32202,2,110,2016,opioid_RxRate,79.8,Alaska,AK,Juneau City and Borough
32203,2,122,2016,opioid_RxRate,97.9,Alaska,AK,Kenai Peninsula Borough
32204,2,130,2016,opioid_RxRate,91.5,Alaska,AK,Ketchikan Gateway Borough

In [1683]:
prescriptions_2016.tail()

,STATEFP,COUNTYFP,YEAR,INDICATOR,VALUE,STATE,STATEABBREVIATION,COUNTY
35415,72,145,2016,opioid_RxRate,NaN,Puerto Rico,PR,Vega Baja Municipio
35416,72,147,2016,opioid_RxRate,NaN,Puerto Rico,PR,Vieques Municipio
35417,72,149,2016,opioid_RxRate,NaN,Puerto Rico,PR,Villalba Municipio
35418,72,151,2016,opioid_RxRate,NaN,Puerto Rico,PR,Yabucoa Municipio
35419,72,153,2016,opioid_RxRate,NaN,Puerto Rico,PR,Yauco Municipio

In [1684]:
prescriptions_2016 = prescriptions_2016.reset_index(drop=True)

In [1685]:
prescriptions_2016.columns = ['statefp', 'countyfp', 'year', 'indicator', 'value', 'state', 'stateabbrev', 'county']

In [1686]:
prescriptions_2016 = prescriptions_2016.loc[prescriptions_2016['state'] != 'Puerto Rico']

In [1687]:
prescriptions_2016.isna().sum()

statefp          0
countyfp         0
year             0
indicator        0
value          180
state            0
stateabbrev      0
county           0
dtype: int64

In [1688]:
def change_columns(df):
    df['COUNTY_STATE'] = df['COUNTY'] + ', ' + df['STATE']
    df = df.drop(['INDICATOR','STATEFP', 'COUNTYFP', 'YEAR', 'STATEABBREVIATION'], axis=1)
    df.columns = ['value', 'state', 'county', 'county_state']
    return df

In [1689]:
#find a list of state names in which the prescritpion value is null
null_prescriptions = prescriptions_2016.loc[prescriptions_2016['value'].isnull()]
missing_states = null_prescriptions.state.value_counts().index

#create a dictionary with state name keys and empty list values 
missing_states_dict = {} 
for state in missing_states: 
    missing_states_dict[state] = []

###### Write functions to handle missing county-level data, so this method can be reused on other feature variables in which there is missing data. For every county in which there is missing data, fill in data based on the average value for the respective state.

In [1694]:
#add values to lists corresponding to each state in missing_states_dict 
def find_state_values(state):
    for i in range(len(merged_target)):
        if merged_target.state[i] == state:
            missing_states_dict[state].append(merged_target.opiod_prescriptions_per_100[i])

#remove any nan values from lists in missing_states_dict
def remove_nan(state):
    missing_states_dict[state] = [item for item in missing_states_dict[state] if np.isnan(item) == False]

#find average value of each list in missing_states dict and the resulting number is the average value for each state
def find_avg(state):
missing_states_dict[state] = sum(missing_states_dict[state])/len(missing_states_dict[state])

#for any county with missing value, add the corresponding average value for respective state
def add_missing_val(state):
    for i in range(len(prescriptions_2016)):
        if prescriptions_2016.state[i] == state:
            if np.isnan(prescriptions_2016.value[i]):
                prescriptions_2016.value[i] = missing_states_dict[state]

In [1695]:
for state in missing_states: 
    find_state_values(state)

In [1696]:
missing_states_dict

{'Texas': [68.5,
  58.2,
  93.2,
  95.7,
  88.8,
  52.5,
  62.7,
  33.3,
  78.1,
  49.0,
  69.9,
  53.4,
  54.6,
  18.3,
  39.2,
  124.6,
  62.3,
  53.9,
  70.1,
  40.7,
  120.4,
  55.4,
  96.3,
  52.5,
  101.1,
  10.9,
  28.5,
  69.6,
  3.7,
  81.8,
  1.1,
  34.2,
  72.0,
  177.3,
  68.3,
  56.2,
  60.5,
  74.4,
  78.8,
  91.9,
  63.9,
  63.2,
  47.2,
  2.0,
  73.7,
  50.6,
  58.2,
  40.3,
  22.9,
  59.2,
  51.2,
  7.4,
  94.8,
  3.8,
  10.5,
  71.8,
  70.7,
  74.0,
  37.5,
  70.5,
  61.7,
  61.5,
  60.3,
  4.7,
  3.2,
  58.7,
  39.2,
  73.8,
  29.1,
  43.6,
  50.8,
  75.4,
  1.6,
  76.4,
  22.7,
  53.3,
  109.4,
  104.5,
  132.9,
  28.1,
  47.7,
  65.5,
  3.8,
  30.0,
  0.5,
  77.7,
  97.3,
  46.2,
  72.0,
  8.6,
  58.4,
  3.1,
  80.5,
  27.8,
  61.9,
  78.9,
  119.4,
  92.7,
  47.5,
  65.6,
  90.5,
  81.5,
  2.1,
  33.2,
  67.3,
  85.5,
  34.6,
  79.7,
  90.9,
  30.2,
  58.0,
  76.3,
  65.4,
  80.6,
  59.8,
  26.8,
  65.8,
  151.0,
  2.5,
  63.1,
  0.4,
  56.6,
  50.5,
  39.8,
  90.9,
  86.2,
  18.0,
  62.7,
  84.2,
  1.3,
  55.2,
  75.4,
  73.9,
  1.6,
  40.2,
  44.5,
  66.0,
  28.4,
  44.1,
  58.7,
  67.7,
  55.2,
  82.1,
  60.6,
  55.3,
  80.6,
  86.0,
  72.9,
  34.5,
  118.8,
  80.2,
  46.1,
  113.4,
  108.6,
  81.4,
  73.3,
  1.1,
  37.9,
  101.1,
  76.1,
  68.6,
  73.9,
  25.6,
  47.9,
  63.8,
  1.7,
  28.6,
  74.6,
  70.6,
  49.0,
  54.7,
  74.7,
  19.1,
  86.4,
  49.5,
  84.5,
  69.1,
  1.4,
  88.6,
  5.8,
  34.6,
  103.5,
  2.5,
  3.1,
  2.3,
  66.7,
  107.0,
  86.8,
  84.6,
  75.1,
  51.2,
  60.0,
  52.4,
  19.0,
  1.4,
  73.1,
  38.6,
  78.5,
  98.7,
  58.9,
  12.8,
  57.8,
  75.5,
  27.2,
  63.5,
  39.1,
  105.2,
  147.6,
  28.9,
  62.2,
  58.6,
  56.5,
  63.6,
  94.8,
  6.5,
  99.0,
  23.7,
  0.7,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374,
  57.646330275229374],
 'Nebraska': [77.8,
  48.6,
  2.0,
  101.7,
  55.5,
  73.9,
  20.8,
  65.6,
  25.9,
  34.4,
  64.4,
  91.3,
  45.5,
  1.0,
  0.5,
  29.1,
  91.1,
  73.2,
  72.9,
  56.3,
  3.9,
  12.7,
  100.7,
  64.5,
  124.9,
  2.6,
  2.9,
  62.2,
  117.3,
  13.3,
  77.5,
  65.2,
  86.0,
  59.5,
  70.6,
  118.0,
  46.1,
  62.7,
  119.6,
  2.9,
  27.7,
  62.9,
  95.9,
  89.1,
  61.3,
  60.4,
  44.6,
  93.9,
  43.4,
  86.9,
  70.9,
  68.0,
  114.5,
  28.6,
  77.4,
  24.7,
  111.5,
  51.6,
  52.8,
  53.3,
  31.6,
  94.2,
  51.6,
  0.8,
  2.1,
  4.1,
  1.6,
  7.2,
  58.3,
  51.4,
  5.6,
  99.8,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334,
  55.170833333333334],
 'Alaska': [48.4,
  97.9,
  91.5,
  33.6,
  76.4,
  45.0,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668,
  65.46666666666668],
 'South Dakota': [65.7,
  0.1,
  0.1,
  42.7,
  63.8,
  83.8,
  26.5,
  34.6,
  32.2,
  47.4,
  67.0,
  40.7,
  89.3,
  0.7,
  34.8,
  0.1,
  43.2,
  55.0,
  87.7,
  0.1,
  57.6,
  98.5,
  119.8,
  0.3,
  98.0,
  78.0,
  101.0,
  52.2,
  33.5,
  79.4,
  35.0,
  11.0,
  31.7,
  6.7,
  44.6,
  13.9,
  85.9,
  30.5,
  65.6,
  37.2,
  76.2,
  47.2,
  0.4,
  45.9,
  2.4,
  2.9,
  102.5,
  32.5,
  70.1,
  101.7,
  95.2,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765,
  48.48823529411765],
 'Montana': [86.2,
  1.2,
  37.8,
  35.1,
  26.4,
  97.2,
  33.0,
  105.1,
  5.7,
  86.2,
  96.0,
  2.9,
  79.6,
  88.7,
  46.7,
  31.3,
  59.1,
  14.0,
  64.4,
  71.7,
  41.0,
  101.5,
  29.6,
  54.1,
  50.5,
  71.2,
  44.8,
  84.9,
  67.8,
  38.6,
  76.0,
  78.1,
  63.8,
  27.0,
  38.8,
  79.1,
  98.6,
  42.2,
  44.8,
  64.8,
  57.7,
  41.9,
  46.8,
  86.8,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636,
  56.78863636363636],
 'Colorado': [152.4,
  58.2,
  72.3,
  86.8,
  59.6,
  47.7,
  94.4,
  68.1,
  34.8,
  1.2,
  29.7,
  83.6,
  39.4,
  50.5,
  46.3,
  34.9,
  67.4,
  72.7,
  78.5,
  43.3,
  51.6,
  80.6,
  112.7,
  41.0,
  49.7,
  58.0,
  62.2,
  126.0,
  29.0,
  81.6,
  78.6,
  108.0,
  90.8,
  80.7,
  65.4,
  107.7,
  34.4,
  0.1,
  26.1,
  79.3,
  107.9,
  26.0,
  79.9,
  62.0,
  35.9,
  1.3,
  59.9,
  107.7,
  71.1,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532,
  64.02040816326532],
 'Virginia': [60.7,
  59.1,
  86.8,
  48.1,
  75.0,
  125.0,
  24.4,
  19.7,
  1.4,
  44.9,
  66.8,
  39.6,
  23.9,
  131.0,
  2.1,
  43.0,
  35.3,
  44.9,
  38.9,
  67.8,
  28.5,
  5.2,
  65.5,
  29.3,
  185.1,
  5.1,
  109.5,
  29.7,
  72.2,
  50.0,
  31.4,
  80.1,
  58.2,
  119.8,
  107.5,
  14.8,
  25.0,
  77.8,
  81.3,
  90.2,
  68.2,
  73.4,
  74.1,
  96.2,
  54.6,
  40.3,
  156.9,
  149.5,
  36.8,
  49.8,
  1.6,
  55.2,
  105.7,
  3.1,
  61.6,
  21.9,
  58.7,
  113.8,
  30.7,
  77.3,
  91.0,
  86.0,
  69.2,
  22.3,
  45.8,
  99.5,
  38.5,
  134.1,
  44.0,
  84.4,
  30.3,
  111.7,
  153.7,
  69.0,
  131.3,
  0.0,
  66.4,
  49.1,
  22.0,
  179.3,
  87.6,
  105.0,
  43.0,
  194.5,
  109.5,
  47.0,
  33.0,
  174.2,
  85.2,
  52.8,
  65.5,
  222.2,
  235.3,
  179.2,
  283.1,
  78.8,
  57.1,
  268.2,
  166.3,
  394.4,
  76.8,
  124.7,
  151.7,
  237.0,
  116.7,
  109.7,
  399.9,
  62.8,
  64.8,
  470.3,
  152.2,
  80.6,
  102.4,
  97.8,
  53.2,
  102.1,
  206.0,
  175.0,
  85.4,
  61.0,
  202.9,
  175.0,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312,
  93.04508196721312],
 'North Dakota': [119.8,
  63.6,
  6.9,
  35.3,
  55.2,
  67.7,
  30.9,
  46.2,
  66.3,
  0.2,
  17.0,
  81.0,
  55.4,
  106.4,
  58.4,
  0.5,
  27.2,
  20.9,
  33.3,
  38.5,
  0.4,
  17.9,
  42.3,
  33.5,
  41.3,
  68.1,
  41.8,
  10.9,
  32.7,
  54.1,
  58.7,
  120.4,
  54.2,
  27.2,
  34.7,
  4.2,
  0.1,
  67.0,
  74.7,
  0.5,
  27.1,
  43.9,
  60.8,
  77.9,
  59.7,
  44.10666666666667,
  44.10666666666667,
  44.10666666666667,
  44.10666666666667,
  44.10666666666667,
  44.10666666666667,
  44.10666666666667,
  44.10666666666667],
 'Georgia': [123.7,
  67.9,
  157.5,
  98.4,
  42.3,
  84.6,
  102.9,
  199.4,
  56.1,
  130.7,
  131.8,
  55.2,
  91.0,
  90.7,
  84.7,
  84.3,
  100.2,
  2.2,
  73.9,
  169.7,
  116.6,
  116.1,
  104.0,
  84.9,
  131.4,
  70.0,
  97.1,
  49.0,
  44.6,
  150.8,
  61.3,
  173.8,
  85.7,
  81.0,
  105.7,
  81.3,
  1.1,
  174.5,
  74.9,
  135.6,
  122.6,
  45.1,
  93.1,
  0.6,
  119.3,
  94.5,
  118.9,
  79.7,
  146.7,
  113.4,
  122.0,
  154.3,
  91.8,
  153.3,
  51.2,
  122.9,
  49.2,
  135.2,
  104.5,
  117.8,
  78.7,
  142.0,
  47.4,
  101.8,
  94.5,
  53.7,
  193.7,
  7.8,
  103.5,
  0.6,
  78.6,
  93.5,
  57.2,
  116.6,
  58.8,
  91.7,
  125.1,
  31.1,
  33.8,
  53.8,
  75.6,
  79.5,
  122.8,
  52.4,
  55.0,
  26.9,
  0.1,
  92.7,
  83.1,
  163.2,
  75.2,
  68.0,
  103.6,
  19.4,
  82.8,
  108.8,
  100.4,
  67.8,
  36.9,
  79.4,
  97.7,
  90.7,
  81.9,
  63.2,
  40.3,
  58.6,
  88.7,
  122.0,
  64.6,
  12.4,
  166.8,
  88.7,
  67.9,
  134.0,
  138.3,
  86.8,
  79.3,
  3.2,
  58.1,
  178.8,
  136.7,
  163.7,
  61.9,
  105.7,
  54.1,
  72.9,
  58.6,
  51.3,
  107.4,
  149.2,
  152.8,
  111.0,
  76.6,
  98.9,
  84.2,
  1.3,
  128.6,
  138.4,
  54.8,
  111.0,
  221.3,
  0.2,
  95.6,
  144.0,
  60.0,
  32.9,
  100.9,
  93.4,
  3.5,
  138.0,
  92.0,
  95.4,
  90.12171052631578,
  90.12171052631578,
  90.12171052631578,
  90.12171052631578,
  90.12171052631578,
  90.12171052631578,
  90.12171052631578],
 'Kansas': [94.7,
  1.1,
  104.6,
  4.3,
  103.6,
  116.7,
  47.7,
  96.6,
  14.3,
  42.6,
  116.2,
  0.9,
  83.6,
  47.2,
  5.1,
  1.1,
  94.9,
  105.2,
  82.5,
  1.6,
  67.4,
  65.7,
  5.5,
  107.9,
  70.8,
  74.5,
  83.7,
  104.1,
  62.8,
  29.9,
  144.7,
  61.0,
  23.2,
  110.5,
  2.1,
  70.4,
  64.6,
  84.8,
  2.4,
  0.3,
  48.3,
  0.6,
  0.6,
  66.9,
  48.1,
  69.5,
  105.7,
  90.2,
  44.3,
  1.3,
  3.7,
  66.2,
  76.6,
  79.7,
  29.1,
  32.6,
  0.9,
  27.8,
  96.8,
  113.3,
  1.2,
  137.0,
  28.6,
  38.3,
  97.7,
  102.2,
  1.7,
  165.4,
  1.6,
  51.0,
  2.4,
  1.1,
  184.8,
  0.3,
  106.7,
  2.1,
  50.1,
  66.8,
  2.3,
  42.1,
  2.5,
  137.2,
  93.6,
  99.9,
  103.0,
  106.3,
  1.6,
  90.5,
  137.1,
  40.9,
  25.2,
  66.5,
  89.1,
  137.9,
  41.8,
  81.3,
  117.3,
  0.6,
  71.5,
  59.90101010101013,
  59.90101010101013,
  59.90101010101013,
  59.90101010101013,
  59.90101010101013,
  59.90101010101013],
 'Idaho': [72.0,
  101.6,
  113.3,
  90.0,
  66.8,
  46.0,
  65.0,
  92.3,
  99.8,
  99.3,
  76.3,
  107.1,
  102.8,
  64.5,
  24.6,
  69.2,
  75.7,
  43.3,
  108.8,
  60.0,
  56.4,
  37.5,
  70.9,
  95.0,
  61.2,
  99.1,
  8.9,
  51.8,
  30.3,
  127.8,
  103.8,
  12.1,
  47.9,
  71.6,
  106.5,
  57.8,
  99.9,
  95.9,
  113.5,
  75.03333333333335,
  75.03333333333335,
  75.03333333333335,
  75.03333333333335,
  75.03333333333335],
 'New Mexico': [68.7,
  81.2,
  39.9,
  69.9,
  63.6,
  46.8,
  89.5,
  83.8,
  7.0,
  72.2,
  92.6,
  70.6,
  72.8,
  22.6,
  55.9,
  86.8,
  83.0,
  27.0,
  54.6,
  67.9,
  68.8,
  82.0,
  91.6,
  59.3,
  85.8,
  26.0,
  44.7,
  79.6,
  64.07857142857142,
  64.07857142857142,
  64.07857142857142,
  64.07857142857142],
 'Missouri': [113.5,
  1.0,
  99.9,
  69.8,
  123.9,
  127.1,
  56.8,
  103.4,
  65.6,
  46.5,
  109.2,
  180.7,
  2.7,
  44.0,
  111.2,
  117.8,
  86.6,
  0.8,
  106.2,
  9.1,
  36.9,
  73.8,
  81.2,
  89.2,
  62.4,
  97.2,
  38.0,
  84.7,
  33.5,
  33.9,
  32.7,
  95.4,
  84.7,
  162.6,
  100.4,
  69.1,
  50.6,
  108.9,
  109.3,
  125.5,
  148.0,
  4.0,
  0.9,
  162.5,
  140.0,
  79.6,
  140.9,
  78.4,
  54.8,
  1.7,
  108.6,
  44.0,
  51.2,
  3.4,
  73.4,
  41.9,
  98.5,
  43.6,
  84.4,
  127.1,
  118.6,
  59.6,
  71.9,
  66.1,
  0.4,
  2.6,
  59.6,
  30.5,
  71.4,
  54.2,
  76.5,
  51.8,
  24.0,
  49.4,
  148.6,
  62.3,
  79.2,
  90.3,
  69.6,
  68.4,
  99.2,
  42.5,
  57.9,
  114.8,
  78.0,
  0.8,
  145.5,
  75.2,
  2.4,
  45.9,
  171.5,
  69.0,
  88.0,
  0.2,
  102.6,
  118.9,
  43.0,
  32.2,
  99.3,
  73.9,
  79.9,
  112.8,
  66.1,
  85.3,
  60.7,
  41.6,
  26.6,
  98.2,
  4.2,
  121.1,
  54.1,
  72.96486486486486,
  72.96486486486486,
  72.96486486486486,
  72.96486486486486],
 'Utah': [93.9,
  80.1,
  54.5,
  176.0,
  66.7,
  57.7,
  45.2,
  87.1,
  83.3,
  103.9,
  81.2,
  106.8,
  58.0,
  57.8,
  29.4,
  70.5,
  16.3,
  95.7,
  112.8,
  61.2,
  70.3,
  66.9,
  58.7,
  68.9,
  89.0,
  83.2,
  75.96538461538464,
  75.96538461538464,
  75.96538461538464],
 'Nevada': [108.0,
  77.5,
  104.4,
  64.0,
  78.8,
  0.3,
  85.6,
  92.4,
  120.5,
  137.0,
  38.9,
  83.4,
  101.3,
  130.1,
  87.29999999999998,
  87.29999999999998,
  87.29999999999998],
 'Wisconsin': [43.6,
  86.7,
  76.8,
  9.5,
  65.2,
  0.4,
  63.0,
  19.7,
  64.3,
  32.1,
  93.2,
  71.4,
  53.1,
  41.6,
  65.4,
  61.9,
  38.4,
  57.7,
  51.5,
  45.8,
  46.7,
  54.1,
  61.9,
  46.5,
  64.8,
  25.3,
  63.6,
  118.9,
  64.0,
  23.8,
  63.0,
  14.2,
  94.4,
  75.4,
  59.5,
  49.9,
  76.3,
  33.2,
  76.8,
  65.4,
  36.5,
  84.2,
  57.6,
  61.2,
  57.6,
  38.7,
  63.2,
  55.2,
  50.1,
  78.4,
  36.9,
  78.2,
  31.3,
  33.4,
  66.8,
  89.4,
  42.0,
  67.0,
  29.2,
  17.5,
  42.2,
  61.9,
  63.0,
  29.1,
  65.7,
  68.3,
  84.7,
  26.5,
  54.9,
  72.0,
  55.16714285714285,
  55.16714285714285],
 'Oregon': [129.8,
  46.5,
  74.4,
  107.6,
  68.9,
  134.1,
  98.1,
  148.6,
  86.3,
  101.4,
  101.0,
  2.8,
  101.2,
  93.5,
  106.5,
  58.7,
  119.7,
  83.0,
  103.7,
  101.9,
  114.8,
  103.0,
  148.6,
  68.9,
  19.0,
  51.3,
  51.9,
  102.1,
  96.0,
  114.2,
  85.5,
  135.8,
  50.5,
  71.8,
  90.62058823529412,
  90.62058823529412],
 'Arkansas': [129.1,
  115.8,
  142.7,
  87.8,
  156.4,
  116.5,
  83.6,
  89.2,
  77.7,
  100.9,
  134.6,
  115.9,
  1.1,
  106.6,
  131.7,
  157.3,
  158.0,
  108.7,
  120.3,
  101.6,
  143.8,
  131.8,
  97.9,
  22.2,
  116.7,
  176.3,
  77.5,
  177.8,
  115.7,
  105.3,
  161.6,
  159.8,
  104.0,
  150.4,
  108.6,
  127.4,
  111.2,
  37.5,
  68.2,
  67.6,
  163.5,
  41.2,
  101.5,
  79.3,
  83.3,
  109.3,
  138.6,
  92.6,
  93.4,
  0.8,
  143.4,
  51.2,
  159.8,
  97.6,
  120.7,
  117.8,
  132.6,
  82.1,
  105.2,
  114.2,
  94.8,
  97.4,
  124.7,
  82.6,
  169.0,
  65.5,
  138.5,
  152.7,
  131.5,
  103.1,
  98.5,
  123.5,
  3.8,
  66.9,
  107.80270270270272],
 'Iowa': [51.9,
  13.3,
  44.5,
  117.1,
  47.4,
  12.9,
  72.9,
  61.1,
  48.5,
  37.8,
  42.2,
  17.1,
  68.0,
  99.3,
  100.2,
  19.8,
  97.8,
  43.2,
  26.9,
  87.6,
  105.1,
  28.4,
  79.1,
  63.5,
  17.6,
  58.1,
  45.3,
  46.5,
  95.6,
  77.6,
  61.2,
  62.8,
  64.8,
  85.2,
  7.7,
  71.2,
  92.8,
  31.8,
  2.6,
  65.1,
  0.3,
  55.9,
  69.5,
  68.4,
  30.8,
  61.5,
  57.5,
  35.7,
  35.8,
  70.4,
  91.5,
  32.3,
  46.6,
  38.4,
  125.6,
  65.0,
  27.8,
  107.6,
  24.9,
  84.2,
  67.9,
  61.2,
  77.4,
  40.5,
  26.8,
  91.4,
  94.3,
  83.7,
  58.6,
  57.9,
  34.9,
  112.4,
  38.0,
  45.4,
  63.2,
  82.2,
  90.6,
  54.3,
  89.3,
  18.4,
  73.3,
  60.6,
  32.0,
  41.6,
  31.0,
  20.6,
  126.2,
  1.4,
  120.7,
  40.5,
  45.6,
  15.8,
  90.4,
  54.5,
  47.2,
  72.7,
  0.8,
  64.7,
  57.44081632653062],
 'Hawaii': [66.4, 33.6, 55.1, 56.8, 52.974999999999994],
 'New York': [46.6,
  58.8,
  30.7,
  69.6,
  73.4,
  49.3,
  72.6,
  84.6,
  52.6,
  76.9,
  61.5,
  59.4,
  66.3,
  55.6,
  67.0,
  46.8,
  67.7,
  69.1,
  54.9,
  64.6,
  49.9,
  59.4,
  23.3,
  41.0,
  49.2,
  59.5,
  49.1,
  81.5,
  40.7,
  39.3,
  76.2,
  61.8,
  55.8,
  51.6,
  58.6,
  49.9,
  58.0,
  56.5,
  41.0,
  23.9,
  57.6,
  44.8,
  34.6,
  69.9,
  51.1,
  53.5,
  47.7,
  57.9,
  45.4,
  67.2,
  51.3,
  70.2,
  43.4,
  52.6,
  67.6,
  82.9,
  66.2,
  54.3,
  35.0,
  51.5,
  33.5,
  55.613114754098355],
 'California': [31.1,
  112.3,
  125.4,
  83.5,
  45.2,
  40.8,
  133.7,
  63.7,
  57.8,
  85.0,
  92.2,
  52.4,
  61.3,
  60.3,
  64.8,
  116.4,
  81.7,
  33.4,
  49.7,
  36.7,
  67.6,
  105.1,
  65.3,
  96.4,
  54.4,
  50.6,
  40.4,
  83.0,
  42.1,
  62.9,
  85.5,
  49.4,
  50.3,
  43.7,
  52.2,
  39.2,
  32.2,
  54.5,
  71.6,
  31.5,
  54.7,
  24.2,
  57.0,
  118.0,
  21.3,
  117.2,
  43.0,
  52.5,
  85.1,
  102.9,
  94.8,
  98.5,
  65.1,
  114.6,
  54.0,
  46.7,
  83.2,
  67.33508771929823],
 'Kentucky': [100.2,
  92.7,
  90.4,
  102.9,
  125.6,
  53.7,
  249.7,
  89.0,
  98.0,
  90.8,
  117.6,
  18.5,
  185.8,
  47.2,
  64.6,
  90.5,
  132.2,
  97.3,
  85.9,
  81.3,
  163.8,
  75.3,
  106.1,
  63.5,
  95.1,
  219.1,
  156.6,
  122.5,
  174.3,
  103.2,
  90.9,
  39.3,
  146.1,
  65.4,
  71.1,
  226.2,
  95.4,
  179.9,
  42.7,
  50.5,
  106.8,
  96.9,
  128.3,
  81.5,
  77.0,
  26.0,
  86.4,
  129.9,
  96.3,
  59.0,
  143.4,
  61.8,
  61.9,
  129.9,
  48.1,
  83.4,
  91.4,
  178.1,
  74.9,
  87.5,
  86.9,
  86.5,
  106.0,
  107.0,
  147.1,
  209.7,
  137.1,
  23.7,
  74.4,
  6.5,
  103.9,
  115.8,
  183.7,
  120.9,
  87.0,
  83.9,
  157.7,
  108.5,
  115.5,
  135.7,
  102.0,
  58.5,
  43.0,
  98.2,
  72.4,
  120.2,
  146.4,
  65.6,
  128.0,
  92.4,
  42.8,
  112.3,
  57.8,
  51.3,
  251.6,
  51.8,
  209.3,
  220.0,
  149.1,
  98.9,
  80.5,
  121.5,
  125.1,
  77.9,
  73.8,
  102.4,
  44.3,
  91.7,
  5.5,
  73.3,
  36.7,
  126.9,
  94.6,
  41.2,
  128.1,
  100.6,
  239.6,
  163.9,
  60.5,
  103.41680672268903],
 'Indiana': [63.8,
  76.0,
  93.5,
  20.8,
  83.3,
  66.7,
  39.7,
  30.6,
  69.9,
  104.8,
  94.8,
  70.0,
  51.8,
  80.8,
  88.8,
  72.9,
  99.4,
  102.7,
  73.0,
  115.6,
  131.9,
  117.0,
  50.3,
  94.4,
  92.8,
  104.2,
  94.0,
  50.6,
  76.8,
  91.7,
  73.0,
  97.4,
  122.7,
  78.7,
  90.1,
  122.5,
  89.2,
  113.9,
  98.2,
  84.1,
  129.6,
  74.1,
  82.8,
  132.8,
  110.1,
  72.4,
  89.2,
  108.8,
  67.3,
  71.5,
  98.6,
  110.9,
  25.8,
  77.0,
  4.1,
  105.9,
  74.7,
  41.1,
  105.8,
  94.6,
  89.9,
  55.7,
  71.5,
  78.8,
  77.2,
  107.8,
  79.2,
  81.3,
  149.0,
  78.2,
  39.5,
  114.9,
  82.3,
  97.9,
  45.6,
  71.4,
  59.0,
  56.3,
  137.8,
  92.2,
  103.8,
  94.2,
  83.4,
  74.3,
  101.5,
  75.5,
  83.0,
  93.7,
  84.36818181818181],
 'Illinois': [133.7,
  4.4,
  55.5,
  50.6,
  2.7,
  31.0,
  2.0,
  36.2,
  24.6,
  65.9,
  86.8,
  26.6,
  76.0,
  34.2,
  99.8,
  41.3,
  32.0,
  0.6,
  57.7,
  85.3,
  32.4,
  46.7,
  105.5,
  96.2,
  71.2,
  61.5,
  3.7,
  138.5,
  69.1,
  0.1,
  2.5,
  91.6,
  2.7,
  25.9,
  239.5,
  0.3,
  61.5,
  57.6,
  104.5,
  42.3,
  113.7,
  117.9,
  38.2,
  29.8,
  41.5,
  81.8,
  52.1,
  106.9,
  52.2,
  86.8,
  63.2,
  71.3,
  80.1,
  81.1,
  63.0,
  57.3,
  98.2,
  39.2,
  106.1,
  127.8,
  55.7,
  60.6,
  149.3,
  13.4,
  34.9,
  71.9,
  122.5,
  127.4,
  39.1,
  24.0,
  79.0,
  50.2,
  35.8,
  26.8,
  49.1,
  83.4,
  27.0,
  68.6,
  88.4,
  84.2,
  77.0,
  217.1,
  98.4,
  2.6,
  0.1,
  33.0,
  82.9,
  90.9,
  159.4,
  93.6,
  112.3,
  76.7,
  32.5,
  79.9,
  113.1,
  64.1,
  53.9,
  151.9,
  94.5,
  28.9,
  66.625],
 'Louisiana': [76.8,
  92.8,
  93.5,
  33.1,
  126.6,
  75.2,
  59.4,
  95.3,
  112.1,
  105.6,
  51.8,
  96.5,
  97.1,
  76.7,
  64.4,
  92.1,
  105.8,
  46.6,
  192.1,
  123.6,
  43.2,
  93.1,
  80.7,
  77.7,
  106.5,
  103.7,
  97.1,
  96.3,
  98.4,
  105.2,
  1.8,
  118.4,
  76.6,
  64.8,
  110.9,
  47.6,
  95.0,
  144.0,
  118.0,
  139.3,
  66.9,
  147.5,
  74.0,
  73.1,
  84.0,
  93.2,
  145.5,
  74.8,
  107.6,
  102.6,
  129.5,
  44.6,
  97.5,
  86.2,
  66.1,
  78.2,
  136.9,
  114.7,
  101.1,
  50.7,
  45.2,
  111.5,
  91.40000000000002],
 'North Carolina': [82.9,
  25.4,
  85.3,
  77.1,
  103.3,
  82.9,
  141.0,
  51.6,
  114.3,
  110.7,
  80.8,
  151.5,
  95.2,
  135.6,
  101.2,
  12.6,
  129.2,
  43.4,
  125.0,
  111.5,
  120.2,
  128.0,
  177.8,
  110.8,
  86.0,
  19.0,
  107.6,
  80.4,
  95.5,
  78.1,
  49.1,
  78.2,
  76.0,
  56.6,
  119.0,
  2.3,
  101.8,
  79.7,
  28.2,
  74.5,
  116.0,
  79.8,
  102.7,
  84.2,
  136.4,
  61.2,
  64.1,
  102.0,
  91.7,
  70.2,
  24.2,
  129.6,
  88.2,
  115.7,
  87.4,
  91.1,
  58.8,
  102.1,
  54.4,
  150.3,
  65.3,
  127.3,
  92.3,
  102.7,
  15.6,
  76.9,
  42.1,
  86.9,
  130.8,
  50.6,
  36.1,
  104.6,
  82.9,
  64.7,
  71.5,
  151.6,
  129.7,
  131.9,
  80.8,
  97.3,
  87.2,
  191.5,
  111.1,
  86.1,
  164.0,
  88.5,
  98.9,
  88.8,
  67.9,
  120.9,
  54.5,
  32.3,
  87.1,
  76.8,
  78.6,
  91.4,
  90.7,
  69.3,
  98.7,
  89.54848484848486],
 'Mississippi': [158.2,
  175.7,
  48.4,
  116.6,
  67.4,
  87.6,
  79.8,
  0.5,
  86.8,
  58.7,
  78.8,
  120.9,
  113.4,
  120.3,
  101.6,
  113.6,
  100.5,
  210.0,

In [1699]:
for state in missing_states_dict: 
    remove_nan(str(state))
    find_avg(str(state))

In [1700]:
missing_states_dict

{'Texas': 57.646330275229325,
 'Nebraska': 55.17083333333338,
 'Alaska': 65.46666666666668,
 'South Dakota': 48.48823529411765,
 'Montana': 56.78863636363633,
 'Colorado': 64.02040816326536,
 'Virginia': 93.04508196721312,
 'North Dakota': 44.106666666666655,
 'Georgia': 90.12171052631574,
 'Kansas': 59.901010101010115,
 'Idaho': 75.03333333333335,
 'New Mexico': 64.07857142857142,
 'Missouri': 72.96486486486486,
 'Utah': 75.96538461538464,
 'Nevada': 87.29999999999998,
 'Wisconsin': 55.167142857142856,
 'Oregon': 90.62058823529414,
 'Arkansas': 107.80270270270272,
 'Iowa': 57.44081632653062,
 'Hawaii': 52.975,
 'New York': 55.613114754098355,
 'California': 67.33508771929823,
 'Kentucky': 103.41680672268903,
 'Indiana': 84.36818181818181,
 'Illinois': 66.625,
 'Louisiana': 91.4,
 'North Carolina': 89.54848484848486,
 'Mississippi': 99.03209876543208,
 'Michigan': 87.37926829268295,
 'Oklahoma': 73.43421052631581}

In [1702]:
for state in missing_states:
    add_missing_val(state)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [1703]:
prescriptions_2016.head()

,statefp,countyfp,year,indicator,value,state,stateabbrev,county
0,2,20,2016,opioid_RxRate,66.3,Alaska,AK,Anchorage Municipality
1,2,90,2016,opioid_RxRate,48.4,Alaska,AK,Fairbanks North Star Borough
2,2,110,2016,opioid_RxRate,79.8,Alaska,AK,Juneau City and Borough
3,2,122,2016,opioid_RxRate,97.9,Alaska,AK,Kenai Peninsula Borough
4,2,130,2016,opioid_RxRate,91.5,Alaska,AK,Ketchikan Gateway Borough

In [1704]:
prescriptions_2016.isna().sum()

statefp        0
countyfp       0
year           0
indicator      0
value          0
state          0
stateabbrev    0
county         0
dtype: int64

In [1705]:
#format county column to match that of the target df in order to assist with eventually merging dfs 
prescriptions_2016['county'] = prescriptions_2016['county'] + ', ' + prescriptions_2016['stateabbrev']

In [1706]:
prescriptions_2016 = prescriptions_2016.set_index('county')

In [1707]:
prescriptions_2016.head()

,statefp,countyfp,year,indicator,value,state,stateabbrev
county,,,,,,,
"Anchorage Municipality, AK",2,20,2016,opioid_RxRate,66.3,Alaska,AK
"Fairbanks North Star Borough, AK",2,90,2016,opioid_RxRate,48.4,Alaska,AK
"Juneau City and Borough, AK",2,110,2016,opioid_RxRate,79.8,Alaska,AK
"Kenai Peninsula Borough, AK",2,122,2016,opioid_RxRate,97.9,Alaska,AK
"Ketchikan Gateway Borough, AK",2,130,2016,opioid_RxRate,91.5,Alaska,AK

In [1709]:
prescriptions_2016.shape

(3142, 7)

In [1710]:
prescriptions_2016 = prescriptions_2016.drop(['statefp', 'countyfp', 'year', 'indicator'], axis=1)

In [1711]:
prescriptions_2016.head()

                                  value   state stateabbrev
county
Anchorage Municipality, AK         66.3  Alaska          AK
Fairbanks North Star Borough, AK   48.4  Alaska          AK
Juneau City and Borough, AK        79.8  Alaska          AK
Kenai Peninsula Borough, AK        97.9  Alaska          AK
Ketchikan Gateway Borough, AK      91.5  Alaska          AK

In [1712]:
prescriptions_2016.columns = ['prescriptions_per_100', 'state', 'state_abbreviation']

In [1714]:
prescriptions_2016.head()

,prescriptions_per_100,state,state_abbreviation
county,,,
"Anchorage Municipality, AK",66.3,Alaska,AK
"Fairbanks North Star Borough, AK",48.4,Alaska,AK
"Juneau City and Borough, AK",79.8,Alaska,AK
"Kenai Peninsula Borough, AK",97.9,Alaska,AK
"Ketchikan Gateway Borough, AK",91.5,Alaska,AK

### Uninsured Population

In [1715]:
uninsured = pd.read_csv('data/uninsured.csv')

In [1716]:
uninsured.head()

,geo_name,geo_sumlevel,geo_id,uninsured_2015,uninsured_2016,uninsured_2017
0,"Autauga County, AL",county,05000US01001,0.128,0.134,0.110
1,"Baldwin County, AL",county,05000US01003,0.158,0.175,0.161
2,"Barbour County, AL",county,05000US01005,0.175,0.174,0.153
3,"Bibb County, AL",county,05000US01007,0.151,0.150,0.136
4,"Blount County, AL",county,05000US01009,0.183,0.176,0.165

In [1717]:
uninsured = uninsured.drop(['geo_sumlevel', 'geo_id'], axis=1)

In [1718]:
uninsured.shape

(3141, 4)

In [1719]:
uninsured.isna().sum()

geo_name          3
uninsured_2015    1
uninsured_2016    1
uninsured_2017    6
dtype: int64

In [1720]:
#set index to assist with merging data
uninsured = uninsured.set_index('geo_name')

In [1721]:
uninsured.head()

                    uninsured_2015  uninsured_2016  uninsured_2017
geo_name
Autauga County, AL           0.128           0.134           0.110
Baldwin County, AL           0.158           0.175           0.161
Barbour County, AL           0.175           0.174           0.153
Bibb County, AL              0.151           0.150           0.136
Blount County, AL            0.183           0.176           0.165

In [1722]:
uninsured.shape

(3141, 3)

## ACS Data

Given the similiarity in the format of ACS data, first merge all ACS data before incorporating data from additional sources.

### Population

In [2085]:
total_pop = pd.read_csv('data/total_pop_2016.csv', encoding='latin-1')

In [2086]:
total_pop.head()

           GEO.id  GEO.id2        GEO.display-label  HD01_VD01  HD02_VD01
0  0500000US01001     1001  Autauga County, Alabama      55049        NaN
1  0500000US01003     1003  Baldwin County, Alabama     199510        NaN
2  0500000US01005     1005  Barbour County, Alabama      26614        NaN
3  0500000US01007     1007     Bibb County, Alabama      22572        NaN
4  0500000US01009     1009   Blount County, Alabama      57704        NaN

In [2087]:
total_pop.shape

(3220, 5)

In [2088]:
total_pop = total_pop.drop(['GEO.id', 'GEO.id2', 'HD02_VD01'], axis=1)

In [2089]:
total_pop.columns = ['county_state', 'population_estimate']

In [2090]:
total_pop.head()

              county_state  population_estimate
0  Autauga County, Alabama                55049
1  Baldwin County, Alabama               199510
2  Barbour County, Alabama                26614
3     Bibb County, Alabama                22572
4   Blount County, Alabama                57704

###### ACS data is setup in a County, State format and does not match the County, State Abbreviation format of other data sources. Incorporating state abbreviation data in order to create a County, State Abbreviation column that enables merging ACS data with additional data sources.

In [2091]:
total_pop['county'] = total_pop['county_state']
total_pop['county'] = total_pop['county'].apply(lambda x: x.split(', ')[0])

In [2092]:
total_pop['state'] = total_pop['county_state']
total_pop['state'] = total_pop['state'].apply(lambda x: x.split(', ')[1])

In [2093]:
total_pop.head()

              county_state  population_estimate          county    state
0  Autauga County, Alabama                55049  Autauga County  Alabama
1  Baldwin County, Alabama               199510  Baldwin County  Alabama
2  Barbour County, Alabama                26614  Barbour County  Alabama
3     Bibb County, Alabama                22572     Bibb County  Alabama
4   Blount County, Alabama                57704   Blount County  Alabama

In [2094]:
states_abbreviations = pd.read_html('https://developers.google.com/public-data/docs/canonical/states_csv', header=0)[0]

In [2095]:
states_abbreviations.head()

  state   latitude   longitude        name
0    AK  63.588753 -154.493062      Alaska
1    AL  32.318231  -86.902298     Alabama
2    AR  35.201050  -91.831833    Arkansas
3    AZ  34.048928 -111.093731     Arizona
4    CA  36.778261 -119.417932  California

In [2096]:
states_abbreviations.columns = ['abbreviation', 'latitude', 'longitude', 'state']

In [2097]:
states_abbreviations.head()

  abbreviation   latitude   longitude       state
0           AK  63.588753 -154.493062      Alaska
1           AL  32.318231  -86.902298     Alabama
2           AR  35.201050  -91.831833    Arkansas
3           AZ  34.048928 -111.093731     Arizona
4           CA  36.778261 -119.417932  California

In [2098]:
states_abbreviations.head()

  abbreviation   latitude   longitude       state
0           AK  63.588753 -154.493062      Alaska
1           AL  32.318231  -86.902298     Alabama
2           AR  35.201050  -91.831833    Arkansas
3           AZ  34.048928 -111.093731     Arizona
4           CA  36.778261 -119.417932  California

In [2099]:
acs_features = pd.merge(total_pop, states_abbreviations, on='state')

In [2100]:
acs_features.head()

,county_state,population_estimate,county,state,abbreviation,latitude,longitude
0,"Autauga County, Alabama",55049,Autauga County,Alabama,AL,32.318231,-86.902298
1,"Baldwin County, Alabama",199510,Baldwin County,Alabama,AL,32.318231,-86.902298
2,"Barbour County, Alabama",26614,Barbour County,Alabama,AL,32.318231,-86.902298
3,"Bibb County, Alabama",22572,Bibb County,Alabama,AL,32.318231,-86.902298
4,"Blount County, Alabama",57704,Blount County,Alabama,AL,32.318231,-86.902298

In [2101]:
acs_features.shape

(3220, 7)

In [2102]:
acs_features.isna().sum()

county_state           0
population_estimate    0
county                 0
state                  0
abbreviation           0
latitude               0
longitude              0
dtype: int64

In [2103]:
acs_features = acs_features.set_index(acs_features.county_state)

In [2104]:
acs_features = acs_features.drop(['county_state'], axis=1)
acs_features['county'] = acs_features['county'] + ', ' + acs_features['abbreviation']
acs_features = acs_features.set_index('county')

In [2105]:
acs_features.head()

,population_estimate,county,state,abbreviation,latitude,longitude
county_state,,,,,,
"Autauga County, Alabama",55049,Autauga County,Alabama,AL,32.318231,-86.902298
"Baldwin County, Alabama",199510,Baldwin County,Alabama,AL,32.318231,-86.902298
"Barbour County, Alabama",26614,Barbour County,Alabama,AL,32.318231,-86.902298
"Bibb County, Alabama",22572,Bibb County,Alabama,AL,32.318231,-86.902298
"Blount County, Alabama",57704,Blount County,Alabama,AL,32.318231,-86.902298

### Age and Sex

In [2106]:
age_sex = pd.read_csv('data/age.csv', encoding='latin-1', header=1)

In [2107]:
age_sex.head()

,Id,Id2,Geography,Total; Estimate; Total population,Total; Margin of Error; Total population,Male; Estimate; Total population,Male; Margin of Error; Total population,Female; Estimate; Total population,Female; Margin of Error; Total population,Total; Estimate; AGE - Under 5 years,...,Male; Estimate; PERCENT ALLOCATED - Sex,Male; Margin of Error; PERCENT ALLOCATED - Sex,Female; Estimate; PERCENT ALLOCATED - Sex,Female; Margin of Error; PERCENT ALLOCATED - Sex,Total; Estimate; PERCENT ALLOCATED - Age,Total; Margin of Error; PERCENT ALLOCATED - Age,Male; Estimate; PERCENT ALLOCATED - Age,Male; Margin of Error; PERCENT ALLOCATED - Age,Female; Estimate; PERCENT ALLOCATED - Age,Female; Margin of Error; PERCENT ALLOCATED - Age
0,0500000US01001,1001,"Autauga County, Alabama",55049,*****,26877,120,28172,120,5.8,...,(X),(X),(X),(X),1.0,(X),(X),(X),(X),(X)
1,0500000US01003,1003,"Baldwin County, Alabama",199510,*****,97371,352,102139,352,5.7,...,(X),(X),(X),(X),2.1,(X),(X),(X),(X),(X)
2,0500000US01005,1005,"Barbour County, Alabama",26614,*****,14239,45,12375,45,5.5,...,(X),(X),(X),(X),1.5,(X),(X),(X),(X),(X)
3,0500000US01007,1007,"Bibb County, Alabama",22572,*****,12084,198,10488,198,5.1,...,(X),(X),(X),(X),7.4,(X),(X),(X),(X),(X)
4,0500000US01009,1009,"Blount County, Alabama",57704,*****,28572,107,29132,107,6.1,...,(X),(X),(X),(X),1.3,(X),(X),(X),(X),(X)

In [2108]:
age_sex.shape

(3220, 219)

In [2109]:
age_sex = age_sex[['Geography', 'Total; Estimate; AGE - Under 5 years', 'Total; Estimate; AGE - 5 to 9 years', 'Total; Estimate; AGE - 10 to 14 years', 'Total; Estimate; AGE - 15 to 19 years', 'Total; Estimate; AGE - 20 to 24 years', 'Total; Estimate; AGE - 25 to 29 years', 'Total; Estimate; AGE - 30 to 34 years', 'Total; Estimate; AGE - 35 to 39 years', 'Total; Estimate; AGE - 40 to 44 years', 'Total; Estimate; AGE - 45 to 49 years', 'Total; Estimate; AGE - 50 to 54 years', 'Total; Estimate; AGE - 55 to 59 years', 'Total; Estimate; AGE - 60 to 64 years', 'Total; Estimate; AGE - 65 to 69 years', 'Total; Estimate; AGE - 70 to 74 years', 'Total; Estimate; AGE - 75 to 79 years', 'Total; Estimate; AGE - 75 to 79 years', 'Total; Estimate; AGE - 85 years and over', 'Total; Estimate; SUMMARY INDICATORS - Median age (years)']]

In [2110]:
age_sex.columns = ['county_state', 'Pop <5', 'Pop 5-9', 'Pop 10-14', 'Pop 15-19', 'Pop 20-24', 'Pop 25-29', 'Pop 30-34', 'Pop 35-39', 'Pop 40-44', 'Pop 45-49', 'Pop 50-54', 'Pop 55-59', 'Pop 60-64', 'Pop 65-69', 'Pop 70-74', 'Pop 75-79', 'Pop 80-84', 'Pop 85+', 'median age']

In [2111]:
age_sex.head()

,county_state,Pop <5,Pop 5-9,Pop 10-14,Pop 15-19,Pop 20-24,Pop 25-29,Pop 30-34,Pop 35-39,Pop 40-44,Pop 45-49,Pop 50-54,Pop 55-59,Pop 60-64,Pop 65-69,Pop 70-74,Pop 75-79,Pop 80-84,Pop 85+,median age
0,"Autauga County, Alabama",5.8,6.9,7.7,7.2,6.2,6.3,5.9,7.1,6.6,7.3,7.4,6.5,5.2,4.6,3.8,2.6,2.6,1.2,37.8
1,"Baldwin County, Alabama",5.7,6.3,6.3,6.1,5.5,5.6,5.7,5.9,6.5,6.7,7.2,6.7,7.1,6.5,4.8,3.2,3.2,1.9,42.3
2,"Barbour County, Alabama",5.5,6.4,6.0,5.7,7.3,6.8,7.0,6.9,5.4,6.8,7.0,6.6,6.1,5.5,4.5,2.9,2.9,1.6,38.7
3,"Bibb County, Alabama",5.1,5.2,6.7,6.8,6.4,7.1,6.7,5.7,7.8,7.9,7.5,6.5,5.7,5.2,3.9,2.9,2.9,0.9,40.2
4,"Blount County, Alabama",6.1,6.6,6.8,6.8,5.4,5.6,5.9,5.5,7.2,7.1,7.0,6.3,6.6,6.0,4.5,3.0,3.0,1.4,40.8

In [2112]:
age_sex.shape

(3220, 20)

In [2113]:
age_sex.isna().sum()

county_state    0
Pop <5          0
Pop 5-9         0
Pop 10-14       0
Pop 15-19       0
Pop 20-24       0
Pop 25-29       0
Pop 30-34       0
Pop 35-39       0
Pop 40-44       0
Pop 45-49       0
Pop 50-54       0
Pop 55-59       0
Pop 60-64       0
Pop 65-69       0
Pop 70-74       0
Pop 75-79       0
Pop 80-84       0
Pop 85+         0
median age      0
dtype: int64

In [2114]:
age_sex = age_sex.set_index(age_sex.county_state)

In [2115]:
age_sex = age_sex.drop(['county_state'], axis=1)

In [2116]:
acs_features = pd.merge(acs_features, age_sex, left_index=True, right_index=True, how='outer')

In [2117]:
acs_features.head()

,population_estimate,county,state,abbreviation,latitude,longitude,Pop <5,Pop 5-9,Pop 10-14,Pop 15-19,...,Pop 45-49,Pop 50-54,Pop 55-59,Pop 60-64,Pop 65-69,Pop 70-74,Pop 75-79,Pop 80-84,Pop 85+,median age
county_state,,,,,,,,,,,,,,,,,,,,,
"Autauga County, Alabama",55049,Autauga County,Alabama,AL,32.318231,-86.902298,5.8,6.9,7.7,7.2,...,7.3,7.4,6.5,5.2,4.6,3.8,2.6,2.6,1.2,37.8
"Baldwin County, Alabama",199510,Baldwin County,Alabama,AL,32.318231,-86.902298,5.7,6.3,6.3,6.1,...,6.7,7.2,6.7,7.1,6.5,4.8,3.2,3.2,1.9,42.3
"Barbour County, Alabama",26614,Barbour County,Alabama,AL,32.318231,-86.902298,5.5,6.4,6.0,5.7,...,6.8,7.0,6.6,6.1,5.5,4.5,2.9,2.9,1.6,38.7
"Bibb County, Alabama",22572,Bibb County,Alabama,AL,32.318231,-86.902298,5.1,5.2,6.7,6.8,...,7.9,7.5,6.5,5.7,5.2,3.9,2.9,2.9,0.9,40.2
"Blount County, Alabama",57704,Blount County,Alabama,AL,32.318231,-86.902298,6.1,6.6,6.8,6.8,...,7.1,7.0,6.3,6.6,6.0,4.5,3.0,3.0,1.4,40.8

In [2118]:
acs_features.shape

(3220, 25)

### Education

In [2119]:
educational_attainment = pd.read_csv('data/education.csv', encoding='latin-1', header=1)

In [2120]:
educational_attainment.head()

,Id,Id2,Geography,Total; Estimate; Population 18 to 24 years,Total; Margin of Error; Population 18 to 24 years,Percent; Estimate; Population 18 to 24 years,Percent; Margin of Error; Population 18 to 24 years,Males; Estimate; Population 18 to 24 years,Males; Margin of Error; Population 18 to 24 years,Percent Males; Estimate; Population 18 to 24 years,...,Percent; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Males; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Males; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Males; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Males; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Females; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Females; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Females; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Females; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree
0,0500000US01003,1003,"Baldwin County, Alabama",15621,1652,(X),(X),7827,991,(X),...,(X),(X),70475,12788,(X),(X),51089,4529,(X),(X)
1,0500000US01015,1015,"Calhoun County, Alabama",11440,736,(X),(X),5643,567,(X),...,(X),(X),68111,21816,(X),(X),48451,9010,(X),(X)
2,0500000US01043,1043,"Cullman County, Alabama",7002,420,(X),(X),3370,236,(X),...,(X),(X),46739,57578,(X),(X),53456,11250,(X),(X)
3,0500000US01049,1049,"DeKalb County, Alabama",5564,706,(X),(X),2733,458,(X),...,(X),(X),55316,7514,(X),(X),24708,50717,(X),(X)
4,0500000US01051,1051,"Elmore County, Alabama",6948,952,(X),(X),3503,552,(X),...,(X),(X),73571,11151,(X),(X),58948,17585,(X),(X)

In [2121]:
educational_attainment = educational_attainment[['Geography', 'Percent; Estimate; Population 25 years and over - High school graduate (includes equivalency)', 'Percent; Estimate; Population 25 years and over - Some college, no degree', 'Percent; Estimate; Population 25 years and over - Associate\'s degree', 'Percent; Estimate; Population 25 years and over - Bachelor\'s degree', 'Percent; Estimate; Population 25 years and over - Graduate or professional degree']]

In [2122]:
educational_attainment.columns = ['county_state','high_school_grad', 'some college', 'associates', 'bachelors', 'graduate_professional']

In [2123]:
educational_attainment.head()

,county_state,high_school_grad,some college,associates,bachelors,graduate_professional
0,"Baldwin County, Alabama",28.5,21.2,10.6,17.4,12.3
1,"Calhoun County, Alabama",31.7,27.1,7.0,9.3,7.2
2,"Cullman County, Alabama",32.2,18.3,10.0,11.4,5.5
3,"DeKalb County, Alabama",31.8,22.1,9.7,6.8,4.1
4,"Elmore County, Alabama",30.3,21.4,9.1,15.8,10.2

In [2124]:
educational_attainment.shape

(831, 6)

In [2125]:
educational_attainment.isna().sum()

county_state             0
high_school_grad         0
some college             0
associates               0
bachelors                0
graduate_professional    0
dtype: int64

In [2126]:
educational_attainment = educational_attainment.set_index(educational_attainment.county_state)

In [2127]:
educational_attainment = educational_attainment.drop(['county_state'], axis=1)

In [2128]:
acs_features = pd.merge(acs_features, educational_attainment, left_index=True, right_index=True, how='outer')

In [2129]:
acs_features.head()

,population_estimate,county,state,abbreviation,latitude,longitude,Pop <5,Pop 5-9,Pop 10-14,Pop 15-19,...,Pop 70-74,Pop 75-79,Pop 80-84,Pop 85+,median age,high_school_grad,some college,associates,bachelors,graduate_professional
county_state,,,,,,,,,,,,,,,,,,,,,
"Abbeville County, South Carolina",24951,Abbeville County,South Carolina,SC,33.836081,-81.163725,5.4,5.2,6.9,6.6,...,5.1,3.0,3.0,2.3,43.6,NaN,NaN,NaN,NaN,NaN
"Acadia Parish, Louisiana",62372,Acadia Parish,Louisiana,LA,31.244823,-92.145024,7.3,8.3,6.8,6.6,...,3.5,2.4,2.4,1.8,35.8,NaN,NaN,NaN,NaN,NaN
"Accomack County, Virginia",33060,Accomack County,Virginia,VA,37.431573,-78.656894,5.9,5.8,5.9,5.3,...,5.2,3.7,3.7,2.5,45.4,NaN,NaN,NaN,NaN,NaN
"Ada County, Idaho",425798,Ada County,Idaho,ID,44.068202,-114.742041,6.2,7.2,7.4,6.6,...,3.1,2.0,2.0,1.5,36.1,22.5,23.5,11.1,26.0,12.1
"Adair County, Iowa",7330,Adair County,Iowa,IA,41.878003,-93.097702,5.0,6.3,6.4,5.8,...,4.4,3.7,3.7,4.3,46.0,NaN,NaN,NaN,NaN,NaN

In [2130]:
acs_features.shape

(3220, 30)

### Employment Industry

In [2131]:
employment_industry = pd.read_csv('data/employment_industry.csv', encoding='latin-1', header=1)

In [2132]:
employment_industry.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Agriculture, forestry, fishing and hunting, and mining","Margin of Error; Total: - Agriculture, forestry, fishing and hunting, and mining",Estimate; Total: - Construction,Margin of Error; Total: - Construction,Estimate; Total: - Manufacturing,...,"Estimate; Total: - Production, transportation, and material moving occupations: - Professional, scientific, and management, and administrative and waste management services","Margin of Error; Total: - Production, transportation, and material moving occupations: - Professional, scientific, and management, and administrative and waste management services","Estimate; Total: - Production, transportation, and material moving occupations: - Educational services, and health care and social assistance","Margin of Error; Total: - Production, transportation, and material moving occupations: - Educational services, and health care and social assistance","Estimate; Total: - Production, transportation, and material moving occupations: - Arts, entertainment, and recreation, and accommodation and food services","Margin of Error; Total: - Production, transportation, and material moving occupations: - Arts, entertainment, and recreation, and accommodation and food services","Estimate; Total: - Production, transportation, and material moving occupations: - Other services, except public administration","Margin of Error; Total: - Production, transportation, and material moving occupations: - Other services, except public administration","Estimate; Total: - Production, transportation, and material moving occupations: - Public administration","Margin of Error; Total: - Production, transportation, and material moving occupations: - Public administration"
0,0500000US01001,1001,"Autauga County, Alabama",24262,694,294,143,1167,282,3396,...,114,66,130,111,18,23,107,78,45,45
1,0500000US01003,1003,"Baldwin County, Alabama",87753,1553,1268,361,6777,842,8106,...,637,239,196,98,281,140,292,134,104,78
2,0500000US01005,1005,"Barbour County, Alabama",8993,414,407,128,567,166,2015,...,55,45,56,49,7,9,54,59,13,19
3,0500000US01007,1007,"Bibb County, Alabama",8354,492,327,152,682,254,1766,...,108,79,77,45,15,21,23,27,30,35
4,0500000US01009,1009,"Blount County, Alabama",21593,705,621,159,2056,299,3362,...,45,31,118,80,25,29,201,99,103,100

In [2133]:
employment_industry.shape

(3220, 171)

In [2134]:
employment_industry = employment_industry.filter(like='Estimate')

In [2135]:
employment_industry.head()

,Estimate; Total:,"Estimate; Total: - Agriculture, forestry, fishing and hunting, and mining",Estimate; Total: - Construction,Estimate; Total: - Manufacturing,Estimate; Total: - Wholesale trade,Estimate; Total: - Retail trade,"Estimate; Total: - Transportation and warehousing, and utilities",Estimate; Total: - Information,"Estimate; Total: - Finance and insurance, and real estate and rental and leasing","Estimate; Total: - Professional, scientific, and management, and administrative and waste management services",...,"Estimate; Total: - Production, transportation, and material moving occupations: - Wholesale trade","Estimate; Total: - Production, transportation, and material moving occupations: - Retail trade","Estimate; Total: - Production, transportation, and material moving occupations: - Transportation and warehousing, and utilities","Estimate; Total: - Production, transportation, and material moving occupations: - Information","Estimate; Total: - Production, transportation, and material moving occupations: - Finance and insurance, and real estate and rental and leasing","Estimate; Total: - Production, transportation, and material moving occupations: - Professional, scientific, and management, and administrative and waste management services","Estimate; Total: - Production, transportation, and material moving occupations: - Educational services, and health care and social assistance","Estimate; Total: - Production, transportation, and material moving occupations: - Arts, entertainment, and recreation, and accommodation and food services","Estimate; Total: - Production, transportation, and material moving occupations: - Other services, except public administration","Estimate; Total: - Production, transportation, and material moving occupations: - Public administration"
0,24262,294,1167,3396,742,2529,1613,435,1323,2007,...,231,248,879,15,10,114,130,18,107,45
1,87753,1268,6777,8106,2642,13195,4295,1219,6056,9008,...,477,1379,2187,25,0,637,196,281,292,104
2,8993,407,567,2015,256,1043,580,52,302,419,...,93,122,322,0,9,55,56,7,54,13
3,8354,327,682,1766,128,850,556,26,355,450,...,42,244,291,0,0,108,77,15,23,30
4,21593,621,2056,3362,809,2417,1622,238,1034,1557,...,119,358,903,20,23,45,118,25,201,103

In [2136]:
employment_industry.columns

Index(['Estimate; Total:',
       'Estimate; Total: - Agriculture, forestry, fishing and hunting, and mining',
       'Estimate; Total: - Construction', 'Estimate; Total: - Manufacturing',
       'Estimate; Total: - Wholesale trade', 'Estimate; Total: - Retail trade',
       'Estimate; Total: - Transportation and warehousing, and utilities',
       'Estimate; Total: - Information',
       'Estimate; Total: - Finance and insurance, and real estate and rental and leasing',
       'Estimate; Total: - Professional, scientific, and management, and administrative and waste management services',
       'Estimate; Total: - Educational services, and health care and social assistance',
       'Estimate; Total: - Arts, entertainment, and recreation, and accommodation and food services',
       'Estimate; Total: - Other services, except public administration',
       'Estimate; Total: - Public administration',
       'Estimate; Total: - Management, business, science, and arts occupations:',
       'Estimate; Total: - Management, business, science, and arts occupations: - Agriculture, forestry, fishing and hunting, and mining',
       'Estimate; Total: - Management, business, science, and arts occupations: - Construction',
       'Estimate; Total: - Management, business, science, and arts occupations: - Manufacturing',
       'Estimate; Total: - Management, business, science, and arts occupations: - Wholesale trade',
       'Estimate; Total: - Management, business, science, and arts occupations: - Retail trade',
       'Estimate; Total: - Management, business, science, and arts occupations: - Transportation and warehousing, and utilities',
       'Estimate; Total: - Management, business, science, and arts occupations: - Information',
       'Estimate; Total: - Management, business, science, and arts occupations: - Finance and insurance, and real estate and rental and leasing',
       'Estimate; Total: - Management, business, science, and arts occupations: - Professional, scientific, and management, and administrative and waste management services',
       'Estimate; Total: - Management, business, science, and arts occupations: - Educational services, and health care and social assistance',
       'Estimate; Total: - Management, business, science, and arts occupations: - Arts, entertainment, and recreation, and accommodation and food services',
       'Estimate; Total: - Management, business, science, and arts occupations: - Other services, except public administration',
       'Estimate; Total: - Management, business, science, and arts occupations: - Public administration',
       'Estimate; Total: - Service occupations:',
       'Estimate; Total: - Service occupations: - Agriculture, forestry, fishing and hunting, and mining',
       'Estimate; Total: - Service occupations: - Construction',
       'Estimate; Total: - Service occupations: - Manufacturing',
       'Estimate; Total: - Service occupations: - Wholesale trade',
       'Estimate; Total: - Service occupations: - Retail trade',
       'Estimate; Total: - Service occupations: - Transportation and warehousing, and utilities',
       'Estimate; Total: - Service occupations: - Information',
       'Estimate; Total: - Service occupations: - Finance and insurance, and real estate and rental and leasing',
       'Estimate; Total: - Service occupations: - Professional, scientific, and management, and administrative and waste management services',
       'Estimate; Total: - Service occupations: - Educational services, and health care and social assistance',
       'Estimate; Total: - Service occupations: - Arts, entertainment, and recreation, and accommodation and food services',
       'Estimate; Total: - Service occupations: - Other services, except public administration',
       'Estimate; Total: - Service occupations: - Public administration',
       'Estimate; Total: - Sales and office occupations:',
       'Estimate; Total: - Sales and office occupations: - Agriculture, forestry, fishing and hunting, and mining',
       'Estimate; Total: - Sales and office occupations: - Construction',
       'Estimate; Total: - Sales and office occupations: - Manufacturing',
       'Estimate; Total: - Sales and office occupations: - Wholesale trade',
       'Estimate; Total: - Sales and office occupations: - Retail trade',
       'Estimate; Total: - Sales and office occupations: - Transportation and warehousing, and utilities',
       'Estimate; Total: - Sales and office occupations: - Information',
       'Estimate; Total: - Sales and office occupations: - Finance and insurance, and real estate and rental and leasing',
       'Estimate; Total: - Sales and office occupations: - Professional, scientific, and management, and administrative and waste management services',
       'Estimate; Total: - Sales and office occupations: - Educational services, and health care and social assistance',
       'Estimate; Total: - Sales and office occupations: - Arts, entertainment, and recreation, and accommodation and food services',
       'Estimate; Total: - Sales and office occupations: - Other services, except public administration',
       'Estimate; Total: - Sales and office occupations: - Public administration',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations:',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Agriculture, forestry, fishing and hunting, and mining',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Construction',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Manufacturing',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Wholesale trade',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Retail trade',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Transportation and warehousing, and utilities',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Information',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Finance and insurance, and real estate and rental and leasing',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Professional, scientific, and management, and administrative and waste management services',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Educational services, and health care and social assistance',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Arts, entertainment, and recreation, and accommodation and food services',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Other services, except public administration',
       'Estimate; Total: - Natural resources, construction, and maintenance occupations: - Public administration',
       'Estimate; Total: - Production, transportation, and material moving occupations:',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Agriculture, forestry, fishing and hunting, and mining',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Construction',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Manufacturing',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Wholesale trade',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Retail trade',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Transportation and warehousing, and utilities',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Information',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Finance and insurance, and real estate and rental and leasing',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Professional, scientific, and management, and administrative and waste management services',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Educational services, and health care and social assistance',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Arts, entertainment, and recreation, and accommodation and food services',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Other services, except public administration',
       'Estimate; Total: - Production, transportation, and material moving occupations: - Public administration'],
      dtype='object')

### Employment Status

In [2137]:
employment_status = pd.read_csv('data/employment_status.csv', encoding='latin-1', header=1)

In [2138]:
employment_status.head()

,Id,Id2,Geography,Total; Estimate; Population 16 years and over,Total; Margin of Error; Population 16 years and over,Labor Force Participation Rate; Estimate; Population 16 years and over,Labor Force Participation Rate; Margin of Error; Population 16 years and over,Employment/Population Ratio; Estimate; Population 16 years and over,Employment/Population Ratio; Margin of Error; Population 16 years and over,Unemployment rate; Estimate; Population 16 years and over,...,Unemployment rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Some college or associate's degree,Unemployment rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Some college or associate's degree,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Total; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Labor Force Participation Rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Labor Force Participation Rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Employment/Population Ratio; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Employment/Population Ratio; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Unemployment rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Unemployment rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher
0,0500000US01001,1001,"Autauga County, Alabama",42712,218,60.9,1.7,56.8,1.7,5.6,...,4.3,1.8,7643,729,85.2,3.9,80.7,4.1,1.5,1.0
1,0500000US01003,1003,"Baldwin County, Alabama",160301,451,58.6,0.9,54.7,1.0,6.3,...,5.5,1.1,29883,1423,81.5,2.1,78.3,2.2,3.7,1.2
2,0500000US01005,1005,"Barbour County, Alabama",21476,68,48.0,1.6,41.9,1.9,12.8,...,12.8,4.4,1795,242,81.1,4.3,80.2,4.5,1.2,1.6
3,0500000US01007,1007,"Bibb County, Alabama",18496,145,48.7,2.5,45.2,2.6,7.1,...,7.4,5.7,1701,352,75.8,8.8,71.1,9.0,5.8,5.0
4,0500000US01009,1009,"Blount County, Alabama",46007,136,49.9,1.5,46.9,1.5,6.0,...,3.9,1.5,3940,465,83.8,4.1,81.7,4.1,2.5,1.3

In [2139]:
employment_status = employment_status[['Geography', 'Employment/Population Ratio; Estimate; AGE - 16 to 19 years', 'Employment/Population Ratio; Estimate; AGE - 20 to 24 years', 'Employment/Population Ratio; Estimate; AGE - 25 to 29 years', 'Employment/Population Ratio; Estimate; AGE - 30 to 34 years', 'Employment/Population Ratio; Estimate; AGE - 35 to 44 years', 'Employment/Population Ratio; Estimate; AGE - 45 to 54 years', 'Employment/Population Ratio; Estimate; AGE - 55 to 59 years', 'Employment/Population Ratio; Estimate; AGE - 60 to 64 years', 'Employment/Population Ratio; Estimate; AGE - 65 to 74 years', 'Employment/Population Ratio; Estimate; AGE - 75 years and over']]

In [2140]:
employment_status.head()

,Geography,Employment/Population Ratio; Estimate; AGE - 16 to 19 years,Employment/Population Ratio; Estimate; AGE - 20 to 24 years,Employment/Population Ratio; Estimate; AGE - 25 to 29 years,Employment/Population Ratio; Estimate; AGE - 30 to 34 years,Employment/Population Ratio; Estimate; AGE - 35 to 44 years,Employment/Population Ratio; Estimate; AGE - 45 to 54 years,Employment/Population Ratio; Estimate; AGE - 55 to 59 years,Employment/Population Ratio; Estimate; AGE - 60 to 64 years,Employment/Population Ratio; Estimate; AGE - 65 to 74 years,Employment/Population Ratio; Estimate; AGE - 75 years and over
0,"Autauga County, Alabama",21.7,71.2,77.6,74.7,70.8,72.4,70.8,51.8,15.3,6.2
1,"Baldwin County, Alabama",33.9,71.7,69.7,71.8,79.7,73.4,65.2,47.2,20.1,5.3
2,"Barbour County, Alabama",14.6,46.7,45.7,47.9,52.8,57.2,50.9,45.2,25.5,3.9
3,"Bibb County, Alabama",12.9,42.7,48.6,58.7,56.1,65.3,52.3,44.8,23.1,7.9
4,"Blount County, Alabama",19,53.3,64.8,58.2,70.8,64.1,56.0,44.2,16.6,1.8

In [2141]:
employment_status.shape

(3220, 11)

In [2142]:
employment_status.isna().sum()

Geography                                                         0
Employment/Population Ratio; Estimate; AGE - 16 to 19 years       0
Employment/Population Ratio; Estimate; AGE - 20 to 24 years       0
Employment/Population Ratio; Estimate; AGE - 25 to 29 years       0
Employment/Population Ratio; Estimate; AGE - 30 to 34 years       0
Employment/Population Ratio; Estimate; AGE - 35 to 44 years       0
Employment/Population Ratio; Estimate; AGE - 45 to 54 years       0
Employment/Population Ratio; Estimate; AGE - 55 to 59 years       0
Employment/Population Ratio; Estimate; AGE - 60 to 64 years       0
Employment/Population Ratio; Estimate; AGE - 65 to 74 years       0
Employment/Population Ratio; Estimate; AGE - 75 years and over    0
dtype: int64

In [2143]:
employment_status = employment_status.set_index('Geography')

In [2144]:
acs_features = pd.merge(acs_features, employment_status, left_index=True, right_index=True, how='outer')

In [2145]:
acs_features.shape

(3220, 40)

In [2146]:
acs_features.head()

,population_estimate,county,state,abbreviation,latitude,longitude,Pop <5,Pop 5-9,Pop 10-14,Pop 15-19,...,Employment/Population Ratio; Estimate; AGE - 16 to 19 years,Employment/Population Ratio; Estimate; AGE - 20 to 24 years,Employment/Population Ratio; Estimate; AGE - 25 to 29 years,Employment/Population Ratio; Estimate; AGE - 30 to 34 years,Employment/Population Ratio; Estimate; AGE - 35 to 44 years,Employment/Population Ratio; Estimate; AGE - 45 to 54 years,Employment/Population Ratio; Estimate; AGE - 55 to 59 years,Employment/Population Ratio; Estimate; AGE - 60 to 64 years,Employment/Population Ratio; Estimate; AGE - 65 to 74 years,Employment/Population Ratio; Estimate; AGE - 75 years and over
"Abbeville County, South Carolina",24951,Abbeville County,South Carolina,SC,33.836081,-81.163725,5.4,5.2,6.9,6.6,...,28.6,56.7,62.2,63.3,70.5,74.7,55.9,38.3,13.9,6.3
"Acadia Parish, Louisiana",62372,Acadia Parish,Louisiana,LA,31.244823,-92.145024,7.3,8.3,6.8,6.6,...,23.4,64.6,68,77.1,70.6,64.4,57.9,41.0,19.9,5.3
"Accomack County, Virginia",33060,Accomack County,Virginia,VA,37.431573,-78.656894,5.9,5.8,5.9,5.3,...,21.1,60.6,72.1,74.7,76.7,76.7,63.8,51.9,19.6,5.9
"Ada County, Idaho",425798,Ada County,Idaho,ID,44.068202,-114.742041,6.2,7.2,7.4,6.6,...,33.3,71.8,75.3,78.2,80.6,79.2,75.5,53.1,20.6,6.1
"Adair County, Iowa",7330,Adair County,Iowa,IA,41.878003,-93.097702,5.0,6.3,6.4,5.8,...,41.8,83.6,94.5,82.7,81.8,89.6,81.9,69.8,31.6,4.3

### Food Stamps

In [2147]:
food_stamps = pd.read_csv('data/food_stamps.csv', encoding='latin-1', header=1)

In [2148]:
food_stamps.head()

,Id,Id2,Geography,Total; Estimate; Households,Total; Margin of Error; Households,Percent; Estimate; Households,Percent; Margin of Error; Households,Households receiving food stamps/SNAP; Estimate; Households,Households receiving food stamps/SNAP; Margin of Error; Households,Percent households receiving food stamps/SNAP; Estimate; Households,...,Percent; Estimate; WORK STATUS - Families - 2 or more workers in past 12 months,Percent; Margin of Error; WORK STATUS - Families - 2 or more workers in past 12 months,Households receiving food stamps/SNAP; Estimate; WORK STATUS - Families - 2 or more workers in past 12 months,Households receiving food stamps/SNAP; Margin of Error; WORK STATUS - Families - 2 or more workers in past 12 months,Percent households receiving food stamps/SNAP; Estimate; WORK STATUS - Families - 2 or more workers in past 12 months,Percent households receiving food stamps/SNAP; Margin of Error; WORK STATUS - Families - 2 or more workers in past 12 months,Households not receiving food stamps/SNAP; Estimate; WORK STATUS - Families - 2 or more workers in past 12 months,Households not receiving food stamps/SNAP; Margin of Error; WORK STATUS - Families - 2 or more workers in past 12 months,Percent households not receiving food stamps/SNAP; Estimate; WORK STATUS - Families - 2 or more workers in past 12 months,Percent households not receiving food stamps/SNAP; Margin of Error; WORK STATUS - Families - 2 or more workers in past 12 months
0,0500000US01001,1001,"Autauga County, Alabama",20800,391,(X),(X),2662,418,12.8,...,53.4,2.7,574,200,31.8,9.5,7255,457,56.5,2.7
1,0500000US01003,1003,"Baldwin County, Alabama",75149,1285,(X),(X),6687,740,8.9,...,47.3,1.7,1261,289,26.7,5.3,22479,1068,49.4,1.8
2,0500000US01005,1005,"Barbour County, Alabama",9122,286,(X),(X),2313,231,25.4,...,38.9,3.3,290,91,19.7,5.1,2032,210,45.2,3.9
3,0500000US01007,1007,"Bibb County, Alabama",7048,352,(X),(X),1046,208,14.8,...,40.7,5.2,104,55,13.5,6.9,2044,330,45.4,5.3
4,0500000US01009,1009,"Blount County, Alabama",20619,403,(X),(X),2376,331,11.5,...,39.7,2.6,370,117,20.8,6.8,5761,416,42.2,2.8

In [2149]:
food_stamps = food_stamps[['Geography', 'Percent households receiving food stamps/SNAP; Estimate; Households']]

In [2150]:
food_stamps.head()

,Geography,Percent households receiving food stamps/SNAP; Estimate; Households
0,"Autauga County, Alabama",12.8
1,"Baldwin County, Alabama",8.9
2,"Barbour County, Alabama",25.4
3,"Bibb County, Alabama",14.8
4,"Blount County, Alabama",11.5

In [2151]:
food_stamps.isna().sum()

Geography                                                              0
Percent households receiving food stamps/SNAP; Estimate; Households    0
dtype: int64

In [2152]:
food_stamps.shape

(3220, 2)

In [2153]:
food_stamps = food_stamps.set_index('Geography')

In [2154]:
acs_features = pd.merge(acs_features, food_stamps, left_index=True, right_index=True, how='outer')

In [2155]:
acs_features.head()

,population_estimate,county,state,abbreviation,latitude,longitude,Pop <5,Pop 5-9,Pop 10-14,Pop 15-19,...,Employment/Population Ratio; Estimate; AGE - 20 to 24 years,Employment/Population Ratio; Estimate; AGE - 25 to 29 years,Employment/Population Ratio; Estimate; AGE - 30 to 34 years,Employment/Population Ratio; Estimate; AGE - 35 to 44 years,Employment/Population Ratio; Estimate; AGE - 45 to 54 years,Employment/Population Ratio; Estimate; AGE - 55 to 59 years,Employment/Population Ratio; Estimate; AGE - 60 to 64 years,Employment/Population Ratio; Estimate; AGE - 65 to 74 years,Employment/Population Ratio; Estimate; AGE - 75 years and over,Percent households receiving food stamps/SNAP; Estimate; Households
"Abbeville County, South Carolina",24951,Abbeville County,South Carolina,SC,33.836081,-81.163725,5.4,5.2,6.9,6.6,...,56.7,62.2,63.3,70.5,74.7,55.9,38.3,13.9,6.3,19.2
"Acadia Parish, Louisiana",62372,Acadia Parish,Louisiana,LA,31.244823,-92.145024,7.3,8.3,6.8,6.6,...,64.6,68,77.1,70.6,64.4,57.9,41.0,19.9,5.3,20.8
"Accomack County, Virginia",33060,Accomack County,Virginia,VA,37.431573,-78.656894,5.9,5.8,5.9,5.3,...,60.6,72.1,74.7,76.7,76.7,63.8,51.9,19.6,5.9,15.5
"Ada County, Idaho",425798,Ada County,Idaho,ID,44.068202,-114.742041,6.2,7.2,7.4,6.6,...,71.8,75.3,78.2,80.6,79.2,75.5,53.1,20.6,6.1,9.2
"Adair County, Iowa",7330,Adair County,Iowa,IA,41.878003,-93.097702,5.0,6.3,6.4,5.8,...,83.6,94.5,82.7,81.8,89.6,81.9,69.8,31.6,4.3,11.9

In [2156]:
acs_features.shape

(3220, 41)

### Economic Characteristics

In [2159]:
economic_characteristics = pd.read_csv('data/economic_characteristics.csv', encoding='latin-1', header=1)

In [2160]:
economic_characteristics.head()

,Id,Id2,Geography,Estimate; EMPLOYMENT STATUS - Population 16 years and over,Margin of Error; EMPLOYMENT STATUS - Population 16 years and over,Percent; EMPLOYMENT STATUS - Population 16 years and over,Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over,Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force,...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 65 years and over,Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 65 years and over,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families,Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families,Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over,Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over,Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over
0,0500000US01001,1001,"Autauga County, Alabama",42712,218,42712,(X),26008,692,60.9,...,6.3,1.9,(X),(X),10.3,2.1,(X),(X),24.2,4.4
1,0500000US01003,1003,"Baldwin County, Alabama",160301,451,160301,(X),93872,1483,58.6,...,7.1,1.2,(X),(X),10.6,1.0,(X),(X),24.3,2.5
2,0500000US01005,1005,"Barbour County, Alabama",21476,68,21476,(X),10316,338,48.0,...,17.0,3.4,(X),(X),24.9,3.1,(X),(X),33.8,4.0
3,0500000US01007,1007,"Bibb County, Alabama",18496,145,18496,(X),9002,467,48.7,...,11.1,4.2,(X),(X),14.1,4.4,(X),(X),33.1,6.7
4,0500000US01009,1009,"Blount County, Alabama",46007,136,46007,(X),22969,706,49.9,...,10.2,2.3,(X),(X),14.8,1.8,(X),(X),29.3,3.2

In [2161]:
economic_characteristics.shape

(3220, 551)

In [2162]:
economic_characteristics.isna().sum()

Id                                                                                                                                                                                                                                                                 0
Id2                                                                                                                                                                                                                                                                0
Geography                                                                                                                                                                                                                                                          0
Estimate; EMPLOYMENT STATUS - Population 16 years and over                                                                                                                                                                                                         0
Margin of Error; EMPLOYMENT STATUS - Population 16 years and over                                                                                                                                                                                                  0
Percent; EMPLOYMENT STATUS - Population 16 years and over                                                                                                                                                                                                          0
Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over                                                                                                                                                                                          0
Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force                                                                                                                                                                                        0
Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force                                                                                                                                                                                 0
Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force                                                                                                                                                                                         0
Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force                                                                                                                                                                         0
Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force                                                                                                                                                                 0
Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force                                                                                                                                                          0
Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force                                                                                                                                                                  0
Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force                                                                                                                                                  0
Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed                                                                                                                                                      0
Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed                                                                                                                                               0
Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed                                                                                                                                                       0
Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed                                                                                                                                       0
Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Unemployed                                                                                                                                                    0
Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Unemployed                                                                                                                                             0
Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Unemployed                                                                                                                                                     0
Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Unemployed                                                                                                                                     0
Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Armed Forces                                                                                                                                                                         0
Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Armed Forces                                                                                                                                                                  0
Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Armed Forces                                                                                                                                                                          0
Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Armed Forces                                                                                                                                                          0
Estimate; EMPLOYMENT STATUS - Population 16 years and over - Not in labor force                                                                                                                                                                                    0
Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - Not in labor force                                                                                                                                                                             0
Percent; EMPLOYMENT STATUS - Population 16 years and over - Not in labor force                                                                                                                                                                                     0
                                                                                                                                                                                                                                                                  ..
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years                                                                        0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years                                                        0
Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder under 5 years                   0
Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder under 5 years            0
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder under 5 years                    0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder under 5 years    0
Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder 5 to 17 years                   0
Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder 5 to 17 years            0
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder 5 to 17 years                    0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder 5 to 17 years    0
Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over                                                                                                                         0
Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over                                                                                                                  0
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over                                                                                                                          0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over                                                                                                          0
Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 18 to 64 years                                                                                                        0
Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 18 to 64 years                                                                                                 0
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 18 to 64 years                                                                                                         0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 18 to 64 years                                                                                         0
Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 65 years and over                                                                                                     0
Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 65 years and over                                                                                              0
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 65 years and over                                                                                                      0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - 18 years and over - 65 years and over                                                                                      0
Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families                                                                                                                                     0
Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families                                                                                                                              0
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families                                                                                                                                      0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - People in families                                                                                                                      0
Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over                                                                                                                0
Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over                                                                                                         0
Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over                                                                                                                 0
Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - Unrelated individuals 15 years and over                                                                                                 0
Length: 551, dtype: int64

In [2163]:
economic_characteristics = economic_characteristics[['Geography', 'Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force', 'Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force', 'Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed', 'Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Unemployed', 'Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Armed Forces', 'Percent; EMPLOYMENT STATUS - Population 16 years and over - Not in labor force', 'Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years']]

In [2164]:
economic_characteristics.head()

,Geography,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Employed,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Civilian labor force - Unemployed,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force - Armed Forces,Percent; EMPLOYMENT STATUS - Population 16 years and over - Not in labor force,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - All people - Under 18 years - Related children of the householder under 18 years
0,"Autauga County, Alabama",60.9,60.2,56.8,3.4,0.7,39.1,16.5
1,"Baldwin County, Alabama",58.6,58.4,54.7,3.7,0.1,41.4,18.2
2,"Barbour County, Alabama",48.0,48.0,41.9,6.2,0.0,52.0,44.8
3,"Bibb County, Alabama",48.7,48.6,45.2,3.5,0.0,51.3,25.9
4,"Blount County, Alabama",49.9,49.9,46.9,3.0,0.0,50.1,26.3

In [2165]:
economic_characteristics.columns = ['geography', 'percent_in_labor_force', 'percent_in_civilian_labor_force', 'percent_in_civilian_labor_force_employed', 'percent_in_civilian_labor_force_unemployed', 'percent_in_labor_force_armed_forces', 'percent_not_in_labor_force', 'percent_income_below_poverty_line']

In [2166]:
economic_characteristics = economic_characteristics.set_index('geography')

In [2167]:
acs_features = pd.merge(acs_features, economic_characteristics, left_index=True, right_index=True, how='outer')

In [2172]:
acs_features.head()

,population_estimate,state,abbreviation,latitude,longitude,Pop <5,Pop 5-9,Pop 10-14,Pop 15-19,Pop 20-24,...,Employment/Population Ratio; Estimate; AGE - 65 to 74 years,Employment/Population Ratio; Estimate; AGE - 75 years and over,Percent households receiving food stamps/SNAP; Estimate; Households,percent_in_labor_force,percent_in_civilian_labor_force,percent_in_civilian_labor_force_employed,percent_in_civilian_labor_force_unemployed,percent_in_labor_force_armed_forces,percent_not_in_labor_force,percent_income_below_poverty_line
county,,,,,,,,,,,,,,,,,,,,,
"Abbeville County, SC",24951,South Carolina,SC,33.836081,-81.163725,5.4,5.2,6.9,6.6,7.4,...,13.9,6.3,19.2,52.5,52.5,47.5,4.9,0.0,47.5,31.1
"Acadia Parish, LA",62372,Louisiana,LA,31.244823,-92.145024,7.3,8.3,6.8,6.6,6.8,...,19.9,5.3,20.8,58.0,58.0,52.7,5.3,0.0,42.0,23.2
"Accomack County, VA",33060,Virginia,VA,37.431573,-78.656894,5.9,5.8,5.9,5.3,5.0,...,19.6,5.9,15.5,57.0,56.5,52.5,4.0,0.6,43.0,30.6
"Ada County, ID",425798,Idaho,ID,44.068202,-114.742041,6.2,7.2,7.4,6.6,6.4,...,20.6,6.1,9.2,66.5,66.2,62.7,3.5,0.2,33.5,13.5
"Adair County, IA",7330,Iowa,IA,41.878003,-93.097702,5.0,6.3,6.4,5.8,4.6,...,31.6,4.3,11.9,64.3,64.3,62.5,1.8,0.0,35.7,11.4

In [2173]:
acs_features.shape

(3220, 47)

## Healthcare Figures - figures only available on state level

### Healthcare Spending

In [2174]:
health_spending = pd.read_csv('data/state_health_spending_2014.csv', header=2)

In [2176]:
health_spending.head()

        Location Total Health Spending
0  United States              $2562824
1        Alabama                $35263
2         Alaska                 $8151
3        Arizona                $43356
4       Arkansas                $21980

In [2177]:
health_spending = health_spending.drop([0])

In [2178]:
health_spending = health_spending.drop(health_spending.index[51:])

In [2179]:
health_spending = health_spending.set_index('Location')

### Healthcare Spending Distribution

In [2180]:
health_dist = pd.read_csv('data/health_dist_2014.csv', header=2)

In [2181]:
health_dist.head()

,Location,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total
0,United States,0.383,0.265,0.138,0.060,0.044,0.033,0.018,0.059,1.0
1,Alabama,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0
2,Alaska,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0
3,Arizona,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0
4,Arkansas,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0

In [2182]:
health_dist = health_dist.drop([0])

In [2183]:
health_dist = health_dist.drop(health_dist.index[51:])

In [2184]:
health_dist = health_dist.set_index('Location')

In [2185]:
health_dist.head()

,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total
Location,,,,,,,,,
Alabama,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0
Alaska,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0
Arizona,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0
Arkansas,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0
California,0.365,0.291,0.127,0.051,0.050,0.039,0.012,0.066,1.0

In [2186]:
health_figures = pd.merge(health_spending, health_dist, left_index=True, right_index=True, how='outer')

In [2187]:
health_figures.head()

,Total Health Spending,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total
Location,,,,,,,,,,
Alabama,$35263,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0
Alaska,$8151,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0
Arizona,$43356,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0
Arkansas,$21980,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0
California,$291989,0.365,0.291,0.127,0.051,0.050,0.039,0.012,0.066,1.0

### Healthcare Spending Increase

In [2188]:
health_increase_1991_2014 = pd.read_csv('data/healthcare_increase_1991_2014.csv', header=2)

In [2189]:
health_increase_1991_2014.head()

        Location  Avg. Annual % Growth
0  United States                 0.060
1        Alabama                 0.055
2         Alaska                 0.078
3        Arizona                 0.069
4       Arkansas                 0.061

In [2190]:
health_increase_1991_2014 = health_increase_1991_2014.drop([0])

In [2191]:
health_increase_1991_2014 = health_increase_1991_2014.drop(health_increase_1991_2014.index[51:])

In [2192]:
health_increase_1991_2014 = health_increase_1991_2014.set_index('Location')

In [2193]:
health_figures = pd.merge(health_figures, health_increase_1991_2014, left_index=True, right_index=True, how='outer')

In [2194]:
health_figures.head()

,Total Health Spending,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total,Avg. Annual % Growth
Location,,,,,,,,,,,
Alabama,$35263,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0,0.055
Alaska,$8151,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0,0.078
Arizona,$43356,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0,0.069
Arkansas,$21980,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0,0.061
California,$291989,0.365,0.291,0.127,0.051,0.050,0.039,0.012,0.066,1.0,0.057

In [2195]:
health_figures.shape

(51, 11)

### Healtchare Spending Per Capita

In [2196]:
health_per_capita = pd.read_csv('data/healthcare_spending_per_capita.csv', header=2)

In [2197]:
health_per_capita.head()

        Location Health Spending per Capita
0  United States                      $8045
1        Alabama                      $7281
2         Alaska                     $11064
3        Arizona                      $6452
4       Arkansas                      $7408

In [2198]:
health_per_capita = health_per_capita.drop([0])

In [2199]:
health_per_capita = health_per_capita.drop(health_per_capita.index[51:])

In [2200]:
health_per_capita = health_per_capita.set_index('Location')

In [2201]:
health_figures = pd.merge(health_figures, health_per_capita, left_index=True, right_index=True, how='outer')

In [2202]:
health_figures.head()

,Total Health Spending,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total,Avg. Annual % Growth,Health Spending per Capita
Location,,,,,,,,,,,,
Alabama,$35263,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0,0.055,$7281
Alaska,$8151,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0,0.078,$11064
Arizona,$43356,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0,0.069,$6452
Arkansas,$21980,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0,0.061,$7408
California,$291989,0.365,0.291,0.127,0.051,0.050,0.039,0.012,0.066,1.0,0.057,$7549

In [2203]:
health_figures.shape

(51, 12)

### Retail Prescriptions Per Capita

In [2204]:
retail_prescription_per_capita = pd.read_csv('data/retail_prescription_per_capita.csv', header=2)

In [2205]:
retail_prescription_per_capita.head()

        Location  Retail Rx Drugs per Capita
0  United States                        12.6
1        Alabama                        17.0
2         Alaska                         6.9
3        Arizona                        11.1
4       Arkansas                        17.2

In [2206]:
retail_prescription_per_capita = retail_prescription_per_capita.drop([0])

In [2207]:
retail_prescription_per_capita = retail_prescription_per_capita.drop(retail_prescription_per_capita.index[51:])

In [2208]:
retail_prescription_per_capita = retail_prescription_per_capita.set_index('Location')

In [2209]:
health_figures = pd.merge(health_figures, retail_prescription_per_capita, left_index=True, right_index=True, how='outer')

In [2210]:
health_figures.head()

,Total Health Spending,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total,Avg. Annual % Growth,Health Spending per Capita,Retail Rx Drugs per Capita
Location,,,,,,,,,,,,,
Alabama,$35263,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0,0.055,$7281,17.0
Alaska,$8151,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0,0.078,$11064,6.9
Arizona,$43356,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0,0.069,$6452,11.1
Arkansas,$21980,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0,0.061,$7408,17.2
California,$291989,0.365,0.291,0.127,0.051,0.050,0.039,0.012,0.066,1.0,0.057,$7549,9.2

In [2211]:
health_figures.shape

(51, 13)

### Mail Order Prescriptions Per Capita

In [2212]:
mail_order_per_capita = pd.read_csv('data/mail_order_per_capita.csv', header=2)

In [2213]:
mail_order_per_capita.head()

        Location  Mail Order Rx Drugs Per Capita
0  United States                            0.51
1        Alabama                            0.44
2         Alaska                            0.33
3        Arizona                            0.39
4       Arkansas                            0.50

In [2214]:
mail_order_per_capita = mail_order_per_capita.drop([0])

In [2215]:
mail_order_per_capita = mail_order_per_capita.drop(mail_order_per_capita.index[51:])

In [2216]:
mail_order_per_capita = mail_order_per_capita.set_index('Location')

In [2217]:
health_figures = pd.merge(health_figures, mail_order_per_capita, left_index=True, right_index=True, how='outer')

In [2218]:
health_figures.head()

,Total Health Spending,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total,Avg. Annual % Growth,Health Spending per Capita,Retail Rx Drugs per Capita,Mail Order Rx Drugs Per Capita
Location,,,,,,,,,,,,,,
Alabama,$35263,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0,0.055,$7281,17.0,0.44
Alaska,$8151,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0,0.078,$11064,6.9,0.33
Arizona,$43356,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0,0.069,$6452,11.1,0.39
Arkansas,$21980,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0,0.061,$7408,17.2,0.50
California,$291989,0.365,0.291,0.127,0.051,0.050,0.039,0.012,0.066,1.0,0.057,$7549,9.2,0.23

In [2219]:
health_figures.shape

(51, 14)

### Private Health Insurance Spending Per Capita

In [2220]:
private_health_insurance_spending_per_capita = pd.read_csv('data/private_health_insurance_spending_per_capita.csv', header=2)

In [2221]:
private_health_insurance_spending_per_capita.head()

        Location Per Capita Private Health Insurance Spending
0  United States                                        $4551
1        Alabama                                        $3641
2         Alaska                                        $5958
3        Arizona                                        $4035
4       Arkansas                                        $3906

In [2222]:
private_health_insurance_spending_per_capita = private_health_insurance_spending_per_capita.drop([0])

In [2223]:
private_health_insurance_spending_per_capita = private_health_insurance_spending_per_capita.drop(private_health_insurance_spending_per_capita.index[51:])

In [2224]:
private_health_insurance_spending_per_capita = private_health_insurance_spending_per_capita.set_index('Location')

In [2225]:
health_figures = pd.merge(health_figures, private_health_insurance_spending_per_capita, left_index=True, right_index=True, how='outer')

In [2226]:
health_figures.head()

,Total Health Spending,Hospital Care,Physician and Other Professional Services,Prescription Drugs and Other Medical Nondurables,Nursing Home Care,Dental Services,Home Health Care,Medical Durables,"Other Health, Residential, and Personal Care",Total,Avg. Annual % Growth,Health Spending per Capita,Retail Rx Drugs per Capita,Mail Order Rx Drugs Per Capita,Per Capita Private Health Insurance Spending
Location,,,,,,,,,,,,,,,
Alabama,$35263,0.361,0.262,0.193,0.054,0.038,0.028,0.018,0.045,1.0,0.055,$7281,17.0,0.44,$3641
Alaska,$8151,0.426,0.346,0.058,0.018,0.049,0.018,0.012,0.072,1.0,0.078,$11064,6.9,0.33,$5958
Arizona,$43356,0.362,0.313,0.126,0.044,0.052,0.021,0.025,0.054,1.0,0.069,$6452,11.1,0.39,$4035
Arkansas,$21980,0.361,0.256,0.158,0.059,0.042,0.025,0.013,0.086,1.0,0.061,$7408,17.2,0.50,$3906
California,$291989,0.365,0.291,0.127,0.051,0.050,0.039,0.012,0.066,1.0,0.057,$7549,9.2,0.23,$4735

In [2227]:
health_figures.shape

(51, 15)

### Increase in Health Insurance Spending Per Capita

In [2228]:
increase_health_insurance_spending_per_capita = pd.read_csv('data/increase_health_insurance_spending_per_capita.csv', header=2)

In [2229]:
increase_health_insurance_spending_per_capita.head()

        Location  % Growth in Per Capita Spending
0  United States                            0.056
1        Alabama                            0.038
2         Alaska                            0.049
3        Arizona                            0.058
4       Arkansas                            0.053

In [2230]:
increase_health_insurance_spending_per_capita = increase_health_insurance_spending_per_capita.drop([0])

In [2231]:
increase_health_insurance_spending_per_capita = increase_health_insurance_spending_per_capita.drop(increase_health_insurance_spending_per_capita.index[51:])

In [2232]:
increase_health_insurance_spending_per_capita = increase_health_insurance_spending_per_capita.set_index('Location')

In [2233]:
health_figures = pd.merge(health_spending, increase_health_insurance_spending_per_capita, left_index=True, right_index=True, how='outer')

In [2234]:
health_figures.head()

           Total Health Spending  % Growth in Per Capita Spending
Location
Alabama                   $35263                            0.038
Alaska                     $8151                            0.049
Arizona                   $43356                            0.058
Arkansas                  $21980                            0.053
California               $291989                            0.062

In [2235]:
health_figures.shape

(51, 2)

### Inpatient Hospital Expenses

In [2236]:
hospital_adjusted_expenses_per_inpatient_day = pd.read_csv('data/hosptial_adjusted_expenses_per_inpatient_day.csv', header=2)

In [2237]:
hospital_adjusted_expenses_per_inpatient_day.head()

        Location Expenses per Inpatient Day
0  United States                      $2338
1        Alabama                      $1480
2         Alaska                      $2447
3        Arizona                      $2479
4       Arkansas                      $1707

In [2238]:
hospital_adjusted_expenses_per_inpatient_day = hospital_adjusted_expenses_per_inpatient_day.drop([0])

In [2239]:
hospital_adjusted_expenses_per_inpatient_day = hospital_adjusted_expenses_per_inpatient_day.drop(hospital_adjusted_expenses_per_inpatient_day.index[51:])

In [2240]:
hospital_adjusted_expenses_per_inpatient_day = hospital_adjusted_expenses_per_inpatient_day.set_index('Location')

In [2241]:
health_figures = pd.merge(health_spending, hospital_adjusted_expenses_per_inpatient_day, left_index=True, right_index=True, how='outer')

In [2242]:
health_figures.head()

           Total Health Spending Expenses per Inpatient Day
Location
Alabama                   $35263                      $1480
Alaska                     $8151                      $2447
Arizona                   $43356                      $2479
Arkansas                  $21980                      $1707
California               $291989                      $3421

In [2243]:
health_figures.shape

(51, 2)

### SMHA Per Capita

In [2244]:
smha_per_capita = pd.read_csv('data/smha_spending_per_capita.csv', header=2)

In [2245]:
smha_per_capita.head()

        Location SMHA Expenditures Per Capita Footnotes
0  United States                      $119.62       NaN
1        Alabama                       $72.64       NaN
2         Alaska                      $341.08       NaN
3        Arizona                      $205.23       NaN
4       Arkansas                       $45.56         1

In [2246]:
smha_per_capita = smha_per_capita.drop([0])

In [2247]:
smha_per_capita = smha_per_capita.drop(smha_per_capita.index[51:])

In [2248]:
smha_per_capita = smha_per_capita.set_index('Location')

In [2249]:
health_figures = pd.merge(health_spending, smha_per_capita, left_index=True, right_index=True, how='outer')

In [2250]:
health_figures.head()

           Total Health Spending SMHA Expenditures Per Capita Footnotes
Location
Alabama                   $35263                       $72.64       NaN
Alaska                     $8151                      $341.08       NaN
Arizona                   $43356                      $205.23       NaN
Arkansas                  $21980                       $45.56         1
California               $291989                      $160.50         2

In [2251]:
health_figures.shape

(51, 3)

## Debt Figures

### Medical Debt

In [2252]:
medical_debt = pd.read_excel('data/debt_in_america.csv', 'Medical Debt - County',header=1)

In [2253]:
medical_debt

,County,State,Overall,White areas,Nonwhite areas,Unnamed: 5,Overall.1,White areas.1,Nonwhite areas.1,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Overall.4,White,Nonwhite,Unnamed: 23,Overall.5,White.1,Nonwhite.1
0,Autauga County,Alabama,0.34,0.33,n/a*,NaN,1336,1390,n/a*,NaN,...,NaN,0.24,NaN,0.10,0.08,0.17,NaN,64765.0,69780.0,45981.0
1,Baldwin County,Alabama,0.28,0.28,n/a*,NaN,1749,1745,n/a*,NaN,...,NaN,0.17,NaN,0.08,0.08,0.09,NaN,73408.0,75745.0,56869.0
2,Barbour County,Alabama,0.4,n/a*,n/a*,NaN,1177,n/a*,n/a*,NaN,...,NaN,0.54,NaN,0.16,0.11,0.19,NaN,44688.0,56667.0,32238.0
3,Bibb County,Alabama,0.47,0.45,0.57,NaN,1294,1403,n/a*,NaN,...,NaN,0.25,NaN,0.10,0.09,0.11,NaN,52241.0,55419.0,38111.0
4,Blount County,Alabama,0.36,0.36,n/a*,NaN,1299,1290,n/a*,NaN,...,NaN,0.12,NaN,0.12,0.10,0.26,NaN,54884.0,56150.0,40938.0
5,Bullock County,Alabama,0.47,n/a*,0.49,NaN,1679,n/a*,1679,NaN,...,NaN,0.78,NaN,0.18,0.09,0.21,NaN,41947.0,65793.0,33421.0
6,Butler County,Alabama,0.43,n/a*,n/a*,NaN,1507,n/a*,n/a*,NaN,...,NaN,0.47,NaN,0.12,0.10,0.14,NaN,43972.0,54606.0,31162.0
7,Calhoun County,Alabama,0.43,0.4,n/a**,NaN,1780,1784,n/a**,NaN,...,NaN,0.27,NaN,0.09,0.08,0.11,NaN,53327.0,58370.0,38181.0
8,Chambers County,Alabama,0.46,0.47,n/a*,NaN,1645,1645,n/a*,NaN,...,NaN,0.43,NaN,0.14,0.11,0.18,NaN,49456.0,58167.0,36861.0
9,Cherokee County,Alabama,0.4,0.4,n/a**,NaN,1312,1312,n/a**,NaN,...,NaN,0.08,NaN,0.10,0.09,0.16,NaN,50591.0,51856.0,34787.0
10,Chilton County,Alabama,0.46,0.46,n/a**,NaN,1991,1991,n/a**,NaN,...,NaN,0.19,NaN,0.16,0.13,0.31,NaN,55546.0,57761.0,43808.0
11,Choctaw County,Alabama,0.38,0.24,n/a*,NaN,1730,n/a*,n/a*,NaN,...,NaN,0.44,NaN,0.13,0.13,0.14,NaN,47721.0,58059.0,34726.0
12,Clarke County,Alabama,0.39,n/a*,n/a*,NaN,1747,n/a*,n/a*,NaN,...,NaN,0.47,NaN,0.15,0.14,0.17,NaN,48153.0,59965.0,32419.0
13,Clay County,Alabama,0.39,0.39,n/a**,NaN,1306,1358,n/a**,NaN,...,NaN,0.20,NaN,0.14,0.15,0.14,NaN,44846.0,47289.0,33223.0
14,Cleburne County,Alabama,0.36,0.36,n/a**,NaN,1342,1298,n/a**,NaN,...,NaN,0.07,NaN,0.14,0.12,0.30,NaN,50244.0,51207.0,36646.0
15,Coffee County,Alabama,0.3,0.3,n/a**,NaN,1585,1596,n/a**,NaN,...,NaN,0.28,NaN,0.12,0.09,0.18,NaN,62808.0,66450.0,51435.0
16,Colbert County,Alabama,0.37,0.37,n/a**,NaN,1537,1515,n/a**,NaN,...,NaN,0.21,NaN,0.11,0.10,0.15,NaN,53233.0,56042.0,41736.0
17,Conecuh County,Alabama,0.43,n/a*,n/a**,NaN,1520,n/a*,n/a**,NaN,...,NaN,0.49,NaN,0.21,0.18,0.24,NaN,38051.0,48303.0,26171.0
18,Coosa County,Alabama,0.46,0.46,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.35,NaN,0.16,0.15,0.17,NaN,41365.0,48280.0,27861.0
19,Covington County,Alabama,0.43,0.43,n/a*,NaN,1461,1447,n/a*,NaN,...,NaN,0.17,NaN,0.13,0.13,0.14,NaN,50925.0,53833.0,34125.0
20,Crenshaw County,Alabama,0.36,0.35,n/a**,NaN,959,933,n/a**,NaN,...,NaN,0.30,NaN,0.12,0.11,0.16,NaN,50203.0,56743.0,34433.0
21,Cullman County,Alabama,0.37,0.37,n/a**,NaN,1500,1525,n/a**,NaN,...,NaN,0.08,NaN,0.14,0.13,0.27,NaN,49033.0,49251.0,44245.0
22,Dale County,Alabama,0.35,0.34,n/a**,NaN,1651,1658,n/a**,NaN,...,NaN,0.30,NaN,0.13,0.12,0.17,NaN,55568.0,61068.0,40916.0
23,Dallas County,Alabama,0.57,n/a*,0.58,NaN,1267,n/a*,1264,NaN,...,NaN,0.71,NaN,0.14,0.11,0.15,NaN,43626.0,71453.0,31290.0
24,DeKalb County,Alabama,0.38,0.38,n/a**,NaN,1504,1504,n/a**,NaN,...,NaN,0.19,NaN,0.14,0.11,0.27,NaN,48451.0,50925.0,31567.0
25,Elmore County,Alabama,0.31,0.3,n/a**,NaN,1524,1533,n/a**,NaN,...,NaN,0.26,NaN,0.07,0.06,0.09,NaN,72416.0,78906.0,51994.0
26,Escambia County,Alabama,0.47,0.46,n/a**,NaN,1422,1305,n/a**,NaN,...,NaN,0.39,NaN,0.19,0.16,0.22,NaN,44903.0,51202.0,33932.0
27,Etowah County,Alabama,0.4,0.4,n/a**,NaN,1550,1557,n/a**,NaN,...,NaN,0.21,NaN,0.10,0.08,0.17,NaN,52933.0,54686.0,45137.0
28,Fayette County,Alabama,0.4,0.4,n/a**,NaN,1702,1702,n/a**,NaN,...,NaN,0.15,NaN,0.09,0.10,0.09,NaN,46340.0,49566.0,28164.0
29,Franklin County,Alabama,0.42,0.42,n/a**,NaN,1232,1232,n/a**,NaN,...,NaN,0.21,NaN,0.16,0.13,0.26,NaN,47562.0,47790.0,46175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,Winnebago County,Wisconsin,0.22,0.22,n/a**,NaN,1469,1458,n/a**,NaN,...,NaN,0.10,NaN,0.05,0.03,0.15,NaN,68493.0,69780.0,49253.0
3116,Wood County,Wisconsin,0.23,0.23,n/a**,NaN,2430,2430,n/a**,NaN,...,NaN,0.07,NaN,0.05,0.05,0.12,NaN,62589.0,60847.0,102425.0
3117,Albany County,Wyoming,0.25,0.26,n/a**,NaN,1506,1506,n/a**,NaN,...,NaN,0.17,NaN,0.09,0.09,0.09,NaN,59096.0,61188.0,46853.0
3118,Big Horn County,Wyoming,0.23,0.23,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.12,NaN,0.16,0.14,0.30,NaN,59217.0,60070.0,50543.0
3119,Campbell County,Wyoming,0.29,0.29,n/a**,NaN,2516,2496,n/a**,NaN,...,NaN,0.12,NaN,0.13,0.10,0.34,NaN,90385.0,91882.0,73898.0
3120,Carbon County,Wyoming,0.31,0.31,n/a**,NaN,3241,3241,n/a**,NaN,...,NaN,0.22,NaN,0.14,0.12,0.22,NaN,66962.0,69240.0,55407.0
3121,Converse County,Wyoming,0.28,0.28,n/a**,NaN,1943,1943,n/a**,NaN,...,NaN,0.11,NaN,0.11,0.10,0.19,NaN,72920.0,72842.0,73691.0
3122,Crook County,Wyoming,0.2,0.2,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.03,NaN,0.13,0.13,0.18,NaN,77784.0,78646.0,42236.0
3123,Fremont County,Wyoming,0.38,0.34,0.71,NaN,2170,2134,n/a*,NaN,...,NaN,0.29,NaN,0.19,0.15,0.31,NaN,65027.0,67897.0,53724.0
3124,Goshen County,Wyoming,0.27,0.27,n/a**,NaN,2277,2277,n/a**,NaN,...,NaN,0.14,NaN,0.13,0.13,0.11,NaN,60146.0,58282.0,74389.0
3125,Hot Springs County,Wyoming,0.31,0.31,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.07,NaN,0.15,0.15,0.11,NaN,58413.0,58949.0,47136.0
3126,Johnson County,Wyoming,0.21,0.21,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.05,NaN,0.10,0.10,0.12,NaN,68158.0,68748.0,39300.0
3127,Laramie County,Wyoming,0.27,0.27,n/a**,NaN,1843,1796,n/a**,NaN,...,NaN,0.21,NaN,0.11,0.09,0.18,NaN,80196.0,83100.0,64606.0
3128,Lincoln County,Wyoming,0.19,0.19,n/a**,NaN,1805,1805,n/a**,NaN,...,NaN,0.07,NaN,0.11,0.09,0.27,NaN,79133.0,80357.0,55802.0
3129,Natrona County,Wyoming,0.31,0.31,n/a**,NaN,2139,2103,n/a**,NaN,...,NaN,0.13,NaN,0.15,0.16,0.12,NaN,73985.0,75747.0,45026.0
3130,Niobrara County,Wyoming,n/a*,n/a*,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.08,NaN,0.13,0.12,0.30,NaN,58528.0,57273.0,77770.0
3131,Park County,Wyoming,0.21,0.21,n/a**,NaN,1984,1984,n/a**,NaN,...,NaN,0.10,NaN,0.13,0.12,0.28,NaN,69272.0,70811.0,45893.0
3132,Platte County,Wyoming,0.19,0.19,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.11,NaN,0.17,0.14,0.36,NaN,57106.0,59071.0,28429.0
3133,Sheridan County,Wyoming,0.24,0.24,n/a**,NaN,2446,2446,n/a**,NaN,...,NaN,0.08,NaN,0.11,0.10,0.19,NaN,68777.0,69873.0,50455.0
3134,Sublette County,Wyoming,0.25,0.25,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.12,NaN,0.15,0.12,0.35,NaN,85852.0,81931.0,122064.0
3135,Sweetwater County,Wyoming,0.32,0.32,n/a**,NaN,2036,1999,n/a**,NaN,...,NaN,0.20,NaN,0.13,0.11,0.22,NaN,79150.0,82071.0,63631.0
3136,Teton County,Wyoming,0.21,0.16,n/a**,NaN,918,1890,n/a**,NaN,...,NaN,0.19,NaN,0.17,0.12,0.36,NaN,110861.0,114535.0,84035.0
3137,Uinta County,Wyoming,0.3,0.31,n/a**,NaN,1502,1502,n/a**,NaN,...,NaN,0.12,NaN,0.14,0.11,0.38,NaN,70306.0,72301.0,53136.0
3138,Washakie County,Wyoming,0.27,0.27,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.18,NaN,0.17,0.16,0.24,NaN,63530.0,64988.0,54209.0
3139,Weston County,Wyoming,0.15,0.15,n/a**,NaN,n/a*,n/a*,n/a**,NaN,...,NaN,0.08,NaN,0.11,0.11,0.13,NaN,69975.0,71417.0,48403.0
3140,"Source: Ratcliffe, McKernan, Lou, Hassani, and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3141,Tabulations of data from a major credit bureau...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3142,Note: For the four debt in collections variabl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3143,* Not available due to insufficient sample size.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3144,** Not available because there are no areas in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2254]:
medical_debt = medical_debt[['County', 'State', 'Overall.2', 'Overall.3']]

In [2255]:
medical_debt.columns = ['county', 'state', 'share_medical_debt_collections', 'median_medical_debt_collections']

In [2256]:
medical_debt = pd.merge(medical_debt, states_abbreviations, on='state')

In [2257]:
medical_debt.head()

,county,state,share_medical_debt_collections,median_medical_debt_collections,abbreviation,latitude,longitude
0,Autauga County,Alabama,0.11,413,AL,32.318231,-86.902298
1,Baldwin County,Alabama,0.12,604,AL,32.318231,-86.902298
2,Barbour County,Alabama,0.13,478,AL,32.318231,-86.902298
3,Bibb County,Alabama,0.3,582,AL,32.318231,-86.902298
4,Blount County,Alabama,0.22,583,AL,32.318231,-86.902298

In [2258]:
medical_debt.shape

(3140, 7)

In [2259]:
medical_debt.isna().sum()

county                             0
state                              0
share_medical_debt_collections     0
median_medical_debt_collections    0
abbreviation                       0
latitude                           0
longitude                          0
dtype: int64

In [2260]:
medical_debt['county_state'] = medical_debt['county'] + ', ' + medical_debt['abbreviation']

In [2261]:
# medical_debt = medical_debt.set_index('county')

In [2262]:
medical_debt.head()

,county,state,share_medical_debt_collections,median_medical_debt_collections,abbreviation,latitude,longitude,county_state
0,Autauga County,Alabama,0.11,413,AL,32.318231,-86.902298,"Autauga County, AL"
1,Baldwin County,Alabama,0.12,604,AL,32.318231,-86.902298,"Baldwin County, AL"
2,Barbour County,Alabama,0.13,478,AL,32.318231,-86.902298,"Barbour County, AL"
3,Bibb County,Alabama,0.3,582,AL,32.318231,-86.902298,"Bibb County, AL"
4,Blount County,Alabama,0.22,583,AL,32.318231,-86.902298,"Blount County, AL"

### Student Loan Debt

In [2263]:
student_loan_debt = pd.read_excel('data/debt_in_america.csv', 'Student Loan Debt - County',header=1)

In [2264]:
student_loan_debt.head()

,County,State,Overall,White areas,Nonwhite areas,Unnamed: 5,Overall.1,White areas.1,Nonwhite areas.1,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Overall.6,White,Nonwhite,Unnamed: 31,Overall.7,White.1,Nonwhite.1
0,Autauga County,Alabama,0.16,0.17,n/a*,NaN,19441,19700,n/a*,NaN,...,NaN,0.24,NaN,0.77,0.75,0.84,NaN,64765.0,69780.0,45981.0
1,Baldwin County,Alabama,0.14,0.14,n/a*,NaN,13964,14000,n/a*,NaN,...,NaN,0.17,NaN,0.71,0.69,0.79,NaN,73408.0,75745.0,56869.0
2,Barbour County,Alabama,0.1,n/a*,n/a*,NaN,n/a*,n/a*,n/a*,NaN,...,NaN,0.54,NaN,0.87,0.81,0.94,NaN,44688.0,56667.0,32238.0
3,Bibb County,Alabama,0.11,0.11,0.09,NaN,n/a*,n/a*,n/a*,NaN,...,NaN,0.25,NaN,0.89,0.89,0.90,NaN,52241.0,55419.0,38111.0
4,Blount County,Alabama,0.1,0.1,n/a*,NaN,11128,11128,n/a*,NaN,...,NaN,0.12,NaN,0.87,0.86,0.94,NaN,54884.0,56150.0,40938.0

In [2265]:
student_loan_debt = student_loan_debt[['County', 'Overall', 'Overall.1']]

In [2266]:
student_loan_debt.columns = ['county', 'share_student_loan_debt', 'median_student_loan_debt']

In [2267]:
student_loan_debt.shape

(3145, 3)

In [2268]:
student_loan_debt.isna().sum()

county                      0
share_student_loan_debt     5
median_student_loan_debt    5
dtype: int64

In [2269]:
student_loan_debt = student_loan_debt.drop(student_loan_debt.index[3140:])

In [2270]:
# student_loan_debt = student_loan_debt.set_index('county')

In [2271]:
student_loan_debt.shape

(3140, 3)

In [2272]:
merged_debt = pd.concat([medical_debt, student_loan_debt], axis=1)

In [2273]:
merged_debt.head()

,county,state,share_medical_debt_collections,median_medical_debt_collections,abbreviation,latitude,longitude,county_state,county,share_student_loan_debt,median_student_loan_debt
0,Autauga County,Alabama,0.11,413,AL,32.318231,-86.902298,"Autauga County, AL",Autauga County,0.16,19441
1,Baldwin County,Alabama,0.12,604,AL,32.318231,-86.902298,"Baldwin County, AL",Baldwin County,0.14,13964
2,Barbour County,Alabama,0.13,478,AL,32.318231,-86.902298,"Barbour County, AL",Barbour County,0.1,n/a*
3,Bibb County,Alabama,0.3,582,AL,32.318231,-86.902298,"Bibb County, AL",Bibb County,0.11,n/a*
4,Blount County,Alabama,0.22,583,AL,32.318231,-86.902298,"Blount County, AL",Blount County,0.1,11128

In [2274]:
merged_debt.shape

(3140, 11)

### Auto Debt

In [2275]:
auto_debt = pd.read_excel('data/debt_in_america.csv', 'Auto Debt - County',header=1)

In [2276]:
auto_debt.head()

,County,State,Overall,White areas,Nonwhite areas,Unnamed: 5,Overall.1,White areas.1,Nonwhite areas.1,Unnamed: 9,...,Near-prime,Prime,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Overall.3,White,Nonwhite
0,Autauga County,Alabama,0.27,n/a*,0.27,NaN,0.35,n/a*,0.35,NaN,...,0.1,0.01,NaN,0.24,NaN,0.42,NaN,67651.0,73245.0,47319.0
1,Baldwin County,Alabama,0.33,n/a*,0.33,NaN,0.39,n/a*,0.39,NaN,...,0.05,0.01,NaN,0.17,NaN,0.42,NaN,74892.0,77713.0,53382.0
2,Barbour County,Alabama,0.26,n/a*,n/a*,NaN,0.38,n/a*,n/a*,NaN,...,0.22,0,NaN,0.54,NaN,0.68,NaN,45280.0,56965.0,33086.0
3,Bibb County,Alabama,0.31,n/a*,0.3,NaN,0.4,n/a*,0.4,NaN,...,n/a*,0,NaN,0.25,NaN,0.68,NaN,53863.0,56619.0,40685.0
4,Blount County,Alabama,0.28,n/a*,0.28,NaN,0.37,n/a*,0.37,NaN,...,0.06,0,NaN,0.12,NaN,0.90,NaN,56439.0,57760.0,40622.0

In [2277]:
auto_debt = auto_debt[['County', 'Overall', 'Overall.1', 'Overall.2']]

In [2278]:
auto_debt.columns = ['county', 'share_with_auto_debt', 'share_with_auto_or_retail_debt', 'auto_retail_debt_delinquency_rate']

In [2279]:
auto_debt.shape

(3145, 4)

In [2280]:
auto_debt.head()

,county,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate
0,Autauga County,0.27,0.35,0.09
1,Baldwin County,0.33,0.39,0.05
2,Barbour County,0.26,0.38,0.19
3,Bibb County,0.31,0.4,0.12
4,Blount County,0.28,0.37,0.07

In [2281]:
merged_debt = pd.concat([merged_debt, auto_debt], axis=1)

In [2282]:
merged_debt.head()

,county,state,share_medical_debt_collections,median_medical_debt_collections,abbreviation,latitude,longitude,county_state,county,share_student_loan_debt,median_student_loan_debt,county,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate
0,Autauga County,Alabama,0.11,413,AL,32.318231,-86.902298,"Autauga County, AL",Autauga County,0.16,19441,Autauga County,0.27,0.35,0.09
1,Baldwin County,Alabama,0.12,604,AL,32.318231,-86.902298,"Baldwin County, AL",Baldwin County,0.14,13964,Baldwin County,0.33,0.39,0.05
2,Barbour County,Alabama,0.13,478,AL,32.318231,-86.902298,"Barbour County, AL",Barbour County,0.1,n/a*,Barbour County,0.26,0.38,0.19
3,Bibb County,Alabama,0.3,582,AL,32.318231,-86.902298,"Bibb County, AL",Bibb County,0.11,n/a*,Bibb County,0.31,0.4,0.12
4,Blount County,Alabama,0.22,583,AL,32.318231,-86.902298,"Blount County, AL",Blount County,0.1,11128,Blount County,0.28,0.37,0.07

In [2283]:
merged_debt.shape

(3145, 15)

In [2284]:
merged_debt = merged_debt.set_index('county_state')

### Marijuana Legalization

In [2285]:
marijuana = pd.read_html('https://disa.com/map-of-marijuana-legality-by-state')[0]

In [2286]:
marijuana.head()

        State   Legal Status Medicinal Decriminalized       State Laws
0     Alabama  Fully Illegal        No             No  View State Laws
1      Alaska    Fully Legal       Yes            Yes  View State Laws
2     Arizona          Mixed       Yes             No  View State Laws
3    Arkansas          Mixed       Yes             No  View State Laws
4  California    Fully Legal       Yes            Yes  View State Laws

In [2287]:
marijuana = marijuana.set_index('State')

In [2288]:
marijuana.head()

             Legal Status Medicinal Decriminalized       State Laws
State
Alabama     Fully Illegal        No             No  View State Laws
Alaska        Fully Legal       Yes            Yes  View State Laws
Arizona             Mixed       Yes             No  View State Laws
Arkansas            Mixed       Yes             No  View State Laws
California    Fully Legal       Yes            Yes  View State Laws

### Political Lean

In [2289]:
political_lean = pd.read_html('http://www.pewforum.org/religious-landscape-study/compare/party-affiliation/by/state/')[0]

In [2290]:
political_lean.head()

        State Republican/lean Rep. No lean Democrat/lean Dem.  Sample Size
0     Alabama                  52%     13%                35%        511.0
1      Alaska                  39%     29%                32%        310.0
2     Arizona                  40%     21%                39%        653.0
3    Arkansas                  46%     16%                38%        311.0
4  California                  30%     21%                49%       3697.0

In [2291]:
political_lean = political_lean.drop([51])

In [2292]:
political_lean = political_lean.drop(['Sample Size'], axis=1)

In [2293]:
political_lean = political_lean.set_index('State')

In [2294]:
political_lean.head()

           Republican/lean Rep. No lean Democrat/lean Dem.
State
Alabama                     52%     13%                35%
Alaska                      39%     29%                32%
Arizona                     40%     21%                39%
Arkansas                    46%     16%                38%
California                  30%     21%                49%

## Merging All Data

In [2295]:
merged_df = pd.merge(cdc_2016, prescriptions_2016, left_index=True, right_index=True, how='outer')

In [2296]:
merged_df.head()

,state_x,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation
county,,,,,,
"Abbeville County, SC",South Carolina,"24,872",10.95,58.0,South Carolina,SC
"Acadia Parish, LA",Louisiana,"62,645",22.95,76.8,Louisiana,LA
"Accomack County, VA",Virginia,"32,947",14.95,60.7,Virginia,VA
"Ada County, ID",Idaho,"444,028",16.95,72.0,Idaho,ID
"Adair County, IA",Iowa,"7,092",10.95,51.9,Iowa,IA

In [2297]:
merged_df.shape

(3158, 6)

In [2298]:
merged_df = pd.merge(merged_df, uninsured, left_index=True, right_index=True, how='outer')

In [2299]:
merged_df.shape

(3164, 9)

In [2300]:
merged_df

,state_x,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017
"Abbeville County, SC",South Carolina,"24,872",10.95,58.000000,South Carolina,SC,0.188,0.183,0.168
"Acadia Parish, LA",Louisiana,"62,645",22.95,76.800000,Louisiana,LA,0.205,0.194,0.178
"Accomack County, VA",Virginia,"32,947",14.95,60.700000,Virginia,VA,0.208,0.205,0.188
"Ada County, ID",Idaho,"444,028",16.95,72.000000,Idaho,ID,0.153,0.145,0.116
"Adair County, IA",Iowa,"7,092",10.95,51.900000,Iowa,IA,0.097,0.095,0.078
"Adair County, KY",Kentucky,"19,280",18.95,100.200000,Kentucky,KY,0.202,0.211,0.122
"Adair County, MO",Missouri,"25,359",16.95,113.500000,Missouri,MO,0.178,0.167,0.148
"Adair County, OK",Oklahoma,"22,098",18.95,66.900000,Oklahoma,OK,0.277,0.266,0.255
"Adams County, CO",NaN,NaN,NaN,52.500000,Colorado,CO,0.219,0.209,0.153
"Adams County, IA",Iowa,"3,693",16.95,13.300000,Iowa,IA,0.122,0.125,0.100
"Adams County, ID",Idaho,"3,900",16.95,75.033333,Idaho,ID,0.239,0.241,0.180
"Adams County, IL",Illinois,"66,578",12.95,133.700000,Illinois,IL,0.110,0.106,0.081
"Adams County, IN",Indiana,"35,232",12.95,63.800000,Indiana,IN,0.188,0.188,0.167
"Adams County, MS",Mississippi,"31,248",12.95,158.200000,Mississippi,MS,0.203,0.214,0.176
"Adams County, ND",North Dakota,"2,305",2.95,119.800000,North Dakota,ND,0.143,0.153,0.114
"Adams County, NE",Nebraska,"31,684",8.95,77.800000,Nebraska,NE,0.138,0.126,0.103
"Adams County, OH",Ohio,"27,907",28.95,83.900000,Ohio,OH,0.163,0.151,0.127
"Adams County, PA",Pennsylvania,"102,180",12.95,45.900000,Pennsylvania,PA,0.124,0.124,0.102
"Adams County, WA",Washington,"19,238",8.95,27.600000,Washington,WA,0.230,0.244,0.182
"Adams County, WI",Wisconsin,"20,069",20.95,43.600000,Wisconsin,WI,0.126,0.134,0.097
"Addison County, VT",Vermont,"36,959",14.95,51.000000,Vermont,VT,0.081,0.089,0.064
"Aiken County, SC",South Carolina,"167,458",18.95,87.700000,South Carolina,SC,0.191,0.171,0.161
"Aitkin County, MN",Minnesota,"15,583",20.95,80.600000,Minnesota,MN,0.125,0.126,0.091
"Alachua County, FL",Florida,"263,496",14.95,69.100000,Florida,FL,0.204,0.191,0.166
"Alamance County, NC",North Carolina,"159,688",14.95,82.900000,North Carolina,NC,0.203,0.195,0.165
"Alameda County, CA",California,"1,647,704",12.95,31.100000,California,CA,0.147,0.144,0.096
"Alamosa County, CO",Colorado,"16,654",24.95,152.400000,Colorado,CO,0.186,0.191,0.158
"Albany County, NY",New York,"308,846",8.95,46.600000,New York,NY,0.096,0.089,0.073
"Albany County, WY",Wyoming,"38,256",14.95,46.700000,Wyoming,WY,0.173,0.163,0.134
"Albemarle County, VA",Virginia,"106,878",6.95,59.100000,Virginia,VA,0.127,0.129,0.117
...,...,...,...,...,...,...,...,...,...
"Yakutat Borough, AK",Alaska,601,2,NaN,NaN,NaN,NaN,NaN,NaN
"Yakutat City and Borough, AK",NaN,NaN,NaN,65.466667,Alaska,AK,0.362,0.350,0.307
"Yalobusha County, MS",Mississippi,"12,471",14.95,55.000000,Mississippi,MS,0.196,0.189,0.175
"Yamhill County, OR",Oregon,"105,035",12.95,71.800000,Oregon,OR,0.168,0.173,0.117
"Yancey County, NC",North Carolina,"17,678",30,98.700000,North Carolina,NC,0.206,0.204,0.165
"Yankton County, SD",South Dakota,"22,616",8.95,95.200000,South Dakota,SD,0.134,0.118,0.109
"Yates County, NY",New York,"24,923",8.95,33.500000,New York,NY,0.141,0.138,0.125
"Yavapai County, AZ",Arizona,"225,562",30,97.800000,Arizona,AZ,0.218,0.220,0.181
"Yazoo County, MS",Mississippi,"27,264",10.95,62.400000,Mississippi,MS,0.195,0.197,0.177
"Yell County, AR",Arkansas,"21,552",16.95,66.900000,Arkansas,AR,0.266,0.248,0.190
"Yellow Medicine County, MN",Minnesota,"9,935",10.95,37.400000,Minnesota,MN,0.100,0.100,0.070
"Yellowstone County, MT",Montana,"158,437",16.95,86.800000,Montana,MT,0.186,0.178,0.149
"Yoakum County, TX",Texas,"8,488",16.95,6.500000,Texas,TX,0.269,0.280,0.236
"Yolo County, CA",California,"215,802",12.95,46.700000,California,CA,0.161,0.169,0.113
"York County, ME",Maine,"202,343",18.95,63.800000,Maine,ME,0.112,0.121,0.110
"York County, NE",Nebraska,"13,794",8.95,99.800000,Nebraska,NE,0.116,0.112,0.084
"York County, PA",Pennsylvania,"443,744",16.95,62.500000,Pennsylvania,PA,0.109,0.109,0.085
"York County, SC",South Carolina,"258,526",14.95,72.300000,South Carolina,SC,0.172,0.156,0.140
"York County, VA",Virginia,"67,976",8.95,47.000000,Virginia,VA,0.097,0.101,0.090
"Young County, TX",Texas,"18,152",28.95,99.000000,Texas,TX,0.267,0.273,0.240
"Yuba County, CA",California,"75,275",8.95,83.200000,California,CA,0.187,0.185,0.143
"Yukon-Koyukuk Census Area, AK",Alaska,"5,526",24.95,65.466667,Alaska,AK,0.368,0.335,0.314
"Yuma County, AZ",Arizona,"205,631",16.95,56.600000,Arizona,AZ,0.273,0.240,0.194
"Yuma County, CO",Colorado,"10,103",8.95,71.100000,Colorado,CO,0.235,0.230,0.167
"Zapata County, TX",Texas,"14,349",14.95,23.700000,Texas,TX,0.325,0.346,0.293
"Zavala County, TX",Texas,"12,023",14.95,0.700000,Texas,TX,0.273,0.268,0.240
"Ziebach County, SD",South Dakota,"2,801",22.95,48.488235,South Dakota,SD,0.207,0.199,0.214
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.314,0.306,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.312,0.294,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.251,0.236,NaN

In [2301]:
merged_df = pd.merge(merged_df, acs_features, left_index=True, right_index=True, how='outer')

In [2302]:
merged_df.head()

,state_x,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,...,Employment/Population Ratio; Estimate; AGE - 65 to 74 years,Employment/Population Ratio; Estimate; AGE - 75 years and over,Percent households receiving food stamps/SNAP; Estimate; Households,percent_in_labor_force,percent_in_civilian_labor_force,percent_in_civilian_labor_force_employed,percent_in_civilian_labor_force_unemployed,percent_in_labor_force_armed_forces,percent_not_in_labor_force,percent_income_below_poverty_line
"Abbeville County, SC",South Carolina,"24,872",10.95,58.0,South Carolina,SC,0.188,0.183,0.168,24951.0,...,13.9,6.3,19.2,52.5,52.5,47.5,4.9,0.0,47.5,31.1
"Acadia Parish, LA",Louisiana,"62,645",22.95,76.8,Louisiana,LA,0.205,0.194,0.178,62372.0,...,19.9,5.3,20.8,58.0,58.0,52.7,5.3,0.0,42.0,23.2
"Accomack County, VA",Virginia,"32,947",14.95,60.7,Virginia,VA,0.208,0.205,0.188,33060.0,...,19.6,5.9,15.5,57.0,56.5,52.5,4.0,0.6,43.0,30.6
"Ada County, ID",Idaho,"444,028",16.95,72.0,Idaho,ID,0.153,0.145,0.116,425798.0,...,20.6,6.1,9.2,66.5,66.2,62.7,3.5,0.2,33.5,13.5
"Adair County, IA",Iowa,"7,092",10.95,51.9,Iowa,IA,0.097,0.095,0.078,7330.0,...,31.6,4.3,11.9,64.3,64.3,62.5,1.8,0.0,35.7,11.4

In [2303]:
merged_df = merged_df.reset_index().set_index('state_x')

In [2304]:
merged_df.head()

,index,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,...,Employment/Population Ratio; Estimate; AGE - 65 to 74 years,Employment/Population Ratio; Estimate; AGE - 75 years and over,Percent households receiving food stamps/SNAP; Estimate; Households,percent_in_labor_force,percent_in_civilian_labor_force,percent_in_civilian_labor_force_employed,percent_in_civilian_labor_force_unemployed,percent_in_labor_force_armed_forces,percent_not_in_labor_force,percent_income_below_poverty_line
state_x,,,,,,,,,,,,,,,,,,,,,
South Carolina,"Abbeville County, SC","24,872",10.95,58.0,South Carolina,SC,0.188,0.183,0.168,24951.0,...,13.9,6.3,19.2,52.5,52.5,47.5,4.9,0.0,47.5,31.1
Louisiana,"Acadia Parish, LA","62,645",22.95,76.8,Louisiana,LA,0.205,0.194,0.178,62372.0,...,19.9,5.3,20.8,58.0,58.0,52.7,5.3,0.0,42.0,23.2
Virginia,"Accomack County, VA","32,947",14.95,60.7,Virginia,VA,0.208,0.205,0.188,33060.0,...,19.6,5.9,15.5,57.0,56.5,52.5,4.0,0.6,43.0,30.6
Idaho,"Ada County, ID","444,028",16.95,72.0,Idaho,ID,0.153,0.145,0.116,425798.0,...,20.6,6.1,9.2,66.5,66.2,62.7,3.5,0.2,33.5,13.5
Iowa,"Adair County, IA","7,092",10.95,51.9,Iowa,IA,0.097,0.095,0.078,7330.0,...,31.6,4.3,11.9,64.3,64.3,62.5,1.8,0.0,35.7,11.4

In [2305]:
merged_df.shape

(3242, 56)

In [2306]:
merged_df = pd.merge(merged_df, health_figures, left_index=True, right_index=True, how='outer')

In [2307]:
merged_df.head()

,index,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,...,percent_in_labor_force,percent_in_civilian_labor_force,percent_in_civilian_labor_force_employed,percent_in_civilian_labor_force_unemployed,percent_in_labor_force_armed_forces,percent_not_in_labor_force,percent_income_below_poverty_line,Total Health Spending,SMHA Expenditures Per Capita,Footnotes
Alabama,"Autauga County, AL","55,416",10.95,129.6,Alabama,AL,0.128,0.134,0.110,55049.0,...,60.9,60.2,56.8,3.4,0.7,39.1,16.5,$35263,$72.64,NaN
Alabama,"Baldwin County, AL","208,563",20.95,123.8,Alabama,AL,0.158,0.175,0.161,199510.0,...,58.6,58.4,54.7,3.7,0.1,41.4,18.2,$35263,$72.64,NaN
Alabama,"Barbour County, AL","25,965",6.95,92.7,Alabama,AL,0.175,0.174,0.153,26614.0,...,48.0,48.0,41.9,6.2,0.0,52.0,44.8,$35263,$72.64,NaN
Alabama,"Bibb County, AL","22,643",16.95,97.2,Alabama,AL,0.151,0.150,0.136,22572.0,...,48.7,48.6,45.2,3.5,0.0,51.3,25.9,$35263,$72.64,NaN
Alabama,"Blount County, AL","57,704",16.95,56.9,Alabama,AL,0.183,0.176,0.165,57704.0,...,49.9,49.9,46.9,3.0,0.0,50.1,26.3,$35263,$72.64,NaN

In [2308]:
merged_df.shape

(3242, 59)

In [2309]:
merged_df = merged_df.reset_index().set_index('index')

In [2310]:
merged_df = pd.merge(merged_df, merged_debt, left_index=True, right_index=True, how='outer')

In [2311]:
merged_df.head()

,level_0,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,...,abbreviation_y,latitude_y,longitude_y,county,share_student_loan_debt,median_student_loan_debt,county,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate
"Abbeville County, SC",South Carolina,"24,872",10.95,58.0,South Carolina,SC,0.188,0.183,0.168,24951.0,...,SC,33.836081,-81.163725,Abbeville County,0.16,13520,Abbeville County,0.2,0.32,0.05
"Acadia Parish, LA",Louisiana,"62,645",22.95,76.8,Louisiana,LA,0.205,0.194,0.178,62372.0,...,LA,31.244823,-92.145024,Acadia Parish,0.11,11197,Acadia Parish,0.28,0.37,0.07
"Accomack County, VA",Virginia,"32,947",14.95,60.7,Virginia,VA,0.208,0.205,0.188,33060.0,...,VA,37.431573,-78.656894,Accomack County,0.1,23599,Accomack County,0.28,0.34,0.04
"Ada County, ID",Idaho,"444,028",16.95,72.0,Idaho,ID,0.153,0.145,0.116,425798.0,...,ID,44.068202,-114.742041,Ada County,0.2,18170,Ada County,0.34,0.37,0.03
"Adair County, IA",Iowa,"7,092",10.95,51.9,Iowa,IA,0.097,0.095,0.078,7330.0,...,IA,41.878003,-93.097702,Adair County,0.18,n/a*,Adair County,0.29,0.32,0.02

In [2312]:
merged_df.shape

(3255, 73)

In [2313]:
merged_df = merged_df.reset_index().set_index('level_0')

In [2314]:
merged_df = pd.merge(merged_df, marijuana, left_index=True, right_index=True, how='outer')

In [2315]:
merged_df.head()

,index,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,...,share_student_loan_debt,median_student_loan_debt,county,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate,Legal Status,Medicinal,Decriminalized,State Laws
Alabama,"Autauga County, AL","55,416",10.95,129.6,Alabama,AL,0.128,0.134,0.110,55049.0,...,0.16,19441,Autauga County,0.27,0.35,0.09,Fully Illegal,No,No,View State Laws
Alabama,"Baldwin County, AL","208,563",20.95,123.8,Alabama,AL,0.158,0.175,0.161,199510.0,...,0.14,13964,Baldwin County,0.33,0.39,0.05,Fully Illegal,No,No,View State Laws
Alabama,"Barbour County, AL","25,965",6.95,92.7,Alabama,AL,0.175,0.174,0.153,26614.0,...,0.1,n/a*,Barbour County,0.26,0.38,0.19,Fully Illegal,No,No,View State Laws
Alabama,"Bibb County, AL","22,643",16.95,97.2,Alabama,AL,0.151,0.150,0.136,22572.0,...,0.11,n/a*,Bibb County,0.31,0.4,0.12,Fully Illegal,No,No,View State Laws
Alabama,"Blount County, AL","57,704",16.95,56.9,Alabama,AL,0.183,0.176,0.165,57704.0,...,0.1,11128,Blount County,0.28,0.37,0.07,Fully Illegal,No,No,View State Laws

In [2316]:
merged_df.shape

(3255, 77)

In [2317]:
merged_df = pd.merge(merged_df, political_lean, left_index=True, right_index=True, how='outer')

In [2318]:
merged_df.head()

,index,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,...,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate,Legal Status,Medicinal,Decriminalized,State Laws,Republican/lean Rep.,No lean,Democrat/lean Dem.
Alabama,"Autauga County, AL","55,416",10.95,129.6,Alabama,AL,0.128,0.134,0.110,55049.0,...,0.27,0.35,0.09,Fully Illegal,No,No,View State Laws,52%,13%,35%
Alabama,"Baldwin County, AL","208,563",20.95,123.8,Alabama,AL,0.158,0.175,0.161,199510.0,...,0.33,0.39,0.05,Fully Illegal,No,No,View State Laws,52%,13%,35%
Alabama,"Barbour County, AL","25,965",6.95,92.7,Alabama,AL,0.175,0.174,0.153,26614.0,...,0.26,0.38,0.19,Fully Illegal,No,No,View State Laws,52%,13%,35%
Alabama,"Bibb County, AL","22,643",16.95,97.2,Alabama,AL,0.151,0.150,0.136,22572.0,...,0.31,0.4,0.12,Fully Illegal,No,No,View State Laws,52%,13%,35%
Alabama,"Blount County, AL","57,704",16.95,56.9,Alabama,AL,0.183,0.176,0.165,57704.0,...,0.28,0.37,0.07,Fully Illegal,No,No,View State Laws,52%,13%,35%

In [2319]:
merged_df.shape

(3255, 80)

In [2320]:
merged_df = merged_df.reset_index()

In [2321]:
merged_df.head()

,level_0,index,population,rate_avg,prescriptions_per_100,state_y,state_abbreviation,uninsured_2015,uninsured_2016,uninsured_2017,...,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate,Legal Status,Medicinal,Decriminalized,State Laws,Republican/lean Rep.,No lean,Democrat/lean Dem.
0,Alabama,"Autauga County, AL","55,416",10.95,129.6,Alabama,AL,0.128,0.134,0.110,...,0.27,0.35,0.09,Fully Illegal,No,No,View State Laws,52%,13%,35%
1,Alabama,"Baldwin County, AL","208,563",20.95,123.8,Alabama,AL,0.158,0.175,0.161,...,0.33,0.39,0.05,Fully Illegal,No,No,View State Laws,52%,13%,35%
2,Alabama,"Barbour County, AL","25,965",6.95,92.7,Alabama,AL,0.175,0.174,0.153,...,0.26,0.38,0.19,Fully Illegal,No,No,View State Laws,52%,13%,35%
3,Alabama,"Bibb County, AL","22,643",16.95,97.2,Alabama,AL,0.151,0.150,0.136,...,0.31,0.4,0.12,Fully Illegal,No,No,View State Laws,52%,13%,35%
4,Alabama,"Blount County, AL","57,704",16.95,56.9,Alabama,AL,0.183,0.176,0.165,...,0.28,0.37,0.07,Fully Illegal,No,No,View State Laws,52%,13%,35%

In [2322]:
merged_df = merged_df.drop(['level_0', 'state_y', 'state_abbreviation', 'state_x', 'abbreviation_x', 'latitude_x', 'longitude_x', 'Footnotes', 'county', 'state_y', 'abbreviation_y', 'latitude_y', 'longitude_y', 'county', 'county', 'Legal Status'], axis=1)

In [2323]:
merged_df.columns.values.tolist()

['index',
 'population',
 'rate_avg',
 'prescriptions_per_100',
 'uninsured_2015',
 'uninsured_2016',
 'uninsured_2017',
 'population_estimate',
 'Pop <5',
 'Pop 5-9',
 'Pop 10-14',
 'Pop 15-19',
 'Pop 20-24',
 'Pop 25-29',
 'Pop 30-34',
 'Pop 35-39',
 'Pop 40-44',
 'Pop 45-49',
 'Pop 50-54',
 'Pop 55-59',
 'Pop 60-64',
 'Pop 65-69',
 'Pop 70-74',
 'Pop 75-79',
 'Pop 80-84',
 'Pop 85+',
 'median age',
 'high_school_grad',
 'some college',
 'associates',
 'bachelors',
 'graduate_professional',
 'Employment/Population Ratio; Estimate; AGE - 16 to 19 years',
 'Employment/Population Ratio; Estimate; AGE - 20 to 24 years',
 'Employment/Population Ratio; Estimate; AGE - 25 to 29 years',
 'Employment/Population Ratio; Estimate; AGE - 30 to 34 years',
 'Employment/Population Ratio; Estimate; AGE - 35 to 44 years',
 'Employment/Population Ratio; Estimate; AGE - 45 to 54 years',
 'Employment/Population Ratio; Estimate; AGE - 55 to 59 years',
 'Employment/Population Ratio; Estimate; AGE - 60 to 64 years',
 'Employment/Population Ratio; Estimate; AGE - 65 to 74 years',
 'Employment/Population Ratio; Estimate; AGE - 75 years and over',
 'Percent households receiving food stamps/SNAP; Estimate; Households',
 'percent_in_labor_force',
 'percent_in_civilian_labor_force',
 'percent_in_civilian_labor_force_employed',
 'percent_in_civilian_labor_force_unemployed',
 'percent_in_labor_force_armed_forces',
 'percent_not_in_labor_force',
 'percent_income_below_poverty_line',
 'Total Health Spending',
 'SMHA Expenditures Per Capita',
 'share_medical_debt_collections',
 'median_medical_debt_collections',
 'share_student_loan_debt',
 'median_student_loan_debt',
 'share_with_auto_debt',
 'share_with_auto_or_retail_debt',
 'auto_retail_debt_delinquency_rate',
 'Medicinal',
 'Decriminalized',
 'State Laws',
 'Republican/lean Rep.',
 'No lean',
 'Democrat/lean Dem.']

In [2324]:
#save merged_df as csv for easy access 
merged_df.to_csv('merged_data.csv')