In [156]:
import pandas as pd
import numpy as np

In [157]:
#load initial merged data saved as csv 
merged_data = pd.read_csv('merged_data.csv')

In [158]:
merged_data.head()

,Unnamed: 0,index,population,rate_avg,prescriptions_per_100,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,state,...,percent_income_below_poverty_line,Total Health Spending,SMHA Expenditures Per Capita,Footnotes,Medicinal,Decriminalized,State Laws,Republican/lean Rep.,No lean,Democrat/lean Dem.
0,0,"Autauga County, AL","55,416",10.95,129.6,0.128,0.134,0.110,55049.0,Alabama,...,16.5,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
1,1,"Baldwin County, AL","208,563",20.95,123.8,0.158,0.175,0.161,199510.0,Alabama,...,18.2,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
2,2,"Barbour County, AL","25,965",6.95,92.7,0.175,0.174,0.153,26614.0,Alabama,...,44.8,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
3,3,"Bibb County, AL","22,643",16.95,97.2,0.151,0.150,0.136,22572.0,Alabama,...,25.9,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
4,4,"Blount County, AL","57,704",16.95,56.9,0.183,0.176,0.165,57704.0,Alabama,...,26.3,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%

In [159]:
merged_data = merged_data.drop(['Unnamed: 0', 'population'], axis=1)

In [160]:
merged_data.head()

,index,rate_avg,prescriptions_per_100,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,state,abbreviation,latitude,...,percent_income_below_poverty_line,Total Health Spending,SMHA Expenditures Per Capita,Footnotes,Medicinal,Decriminalized,State Laws,Republican/lean Rep.,No lean,Democrat/lean Dem.
0,"Autauga County, AL",10.95,129.6,0.128,0.134,0.110,55049.0,Alabama,AL,32.318231,...,16.5,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
1,"Baldwin County, AL",20.95,123.8,0.158,0.175,0.161,199510.0,Alabama,AL,32.318231,...,18.2,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
2,"Barbour County, AL",6.95,92.7,0.175,0.174,0.153,26614.0,Alabama,AL,32.318231,...,44.8,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
3,"Bibb County, AL",16.95,97.2,0.151,0.150,0.136,22572.0,Alabama,AL,32.318231,...,25.9,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%
4,"Blount County, AL",16.95,56.9,0.183,0.176,0.165,57704.0,Alabama,AL,32.318231,...,26.3,$35263,$72.64,NaN,No,No,View State Laws,52%,13%,35%

In [161]:
merged_data.shape

(3242, 62)

In [162]:
#only include rows with relevant data 
merged_data = merged_data.drop(merged_data.index[3240:])

In [163]:
#remove all rows w/ null values for rate_avg, as this is the target variable 
merged_data = merged_data[pd.notnull(merged_data['rate_avg'])]

In [164]:
#dropping row because large number off
merged_data = merged_data.drop(merged_data.index[1782])

In [165]:
#check null values
merged_data.isna().sum()

index                                                                     0
rate_avg                                                                  0
prescriptions_per_100                                                   191
uninsured_2015                                                           17
uninsured_2016                                                           17
uninsured_2017                                                           18
population_estimate                                                      17
state                                                                    17
abbreviation                                                             17
latitude                                                                 17
longitude                                                                17
Pop <5                                                                   17
Pop 5-9                                                                  17
Pop 10-14                                                                17
Pop 15-19                                                                17
Pop 20-24                                                                17
Pop 25-29                                                                17
Pop 30-34                                                                17
Pop 35-39                                                                17
Pop 40-44                                                                17
Pop 45-49                                                                17
Pop 50-54                                                                17
Pop 55-59                                                                17
Pop 60-64                                                                17
Pop 65-69                                                                17
Pop 70-74                                                                17
Pop 75-79                                                                17
Pop 80-84                                                                17
Pop 85+                                                                  17
median age                                                               17
                                                                       ...
associates                                                             2324
bachelors                                                              2324
graduate_professional                                                  2324
Employment/Population Ratio; Estimate; AGE - 16 to 19 years              17
Employment/Population Ratio; Estimate; AGE - 20 to 24 years              17
Employment/Population Ratio; Estimate; AGE - 25 to 29 years              17
Employment/Population Ratio; Estimate; AGE - 30 to 34 years              17
Employment/Population Ratio; Estimate; AGE - 35 to 44 years              17
Employment/Population Ratio; Estimate; AGE - 45 to 54 years              17
Employment/Population Ratio; Estimate; AGE - 55 to 59 years              17
Employment/Population Ratio; Estimate; AGE - 60 to 64 years              17
Employment/Population Ratio; Estimate; AGE - 65 to 74 years              17
Employment/Population Ratio; Estimate; AGE - 75 years and over           17
Percent households receiving food stamps/SNAP; Estimate; Households      17
percent_in_labor_force                                                   17
percent_in_civilian_labor_force                                          17
percent_in_civilian_labor_force_employed                                 17
percent_in_civilian_labor_force_unemployed                               17
percent_in_labor_force_armed_forces                                      17
percent_not_in_labor_force                                               17
percent_income_below_poverty_line                                        17
Total Health Spending                                                     0
SMHA Expenditures Per Capita                                              0
Footnotes                                                              1853
Medicinal                                                                 0
Decriminalized                                                            0
State Laws                                                                0
Republican/lean Rep.                                                      0
No lean                                                                   0
Democrat/lean Dem.                                                        0
Length: 62, dtype: int64

In [166]:
#drop columns for which data is missing for majority of rows 
merged_data = merged_data.drop(['high_school_grad', 'some college', 'associates', 'bachelors', 'graduate_professional'], axis=1)

In [167]:
merged_data = merged_data.reset_index()
merged_data = merged_data.drop(['level_0'], axis=1)

In [168]:
col_names = merged_data.isna().sum().index.tolist()

In [169]:
#determine columns that are not float 
col_type = {}
for col in col_names:
    col_type[col] = type(merged_data[col][0])
    if col_type[col] != 'numpy.float64':
        print(col)

index
rate_avg
prescriptions_per_100
uninsured_2015
uninsured_2016
uninsured_2017
population_estimate
state
abbreviation
latitude
longitude
Pop <5
Pop 5-9
Pop 10-14
Pop 15-19
Pop 20-24
Pop 25-29
Pop 30-34
Pop 35-39
Pop 40-44
Pop 45-49
Pop 50-54
Pop 55-59
Pop 60-64
Pop 65-69
Pop 70-74
Pop 75-79
Pop 80-84
Pop 85+
median age
Employment/Population Ratio; Estimate; AGE - 16 to 19 years
Employment/Population Ratio; Estimate; AGE - 20 to 24 years
Employment/Population Ratio; Estimate; AGE - 25 to 29 years
Employment/Population Ratio; Estimate; AGE - 30 to 34 years
Employment/Population Ratio; Estimate; AGE - 35 to 44 years
Employment/Population Ratio; Estimate; AGE - 45 to 54 years
Employment/Population Ratio; Estimate; AGE - 55 to 59 years
Employment/Population Ratio; Estimate; AGE - 60 to 64 years
Employment/Population Ratio; Estimate; AGE - 65 to 74 years
Employment/Population Ratio; Estimate; AGE - 75 years and over
Percent households receiving food stamps/SNAP; Estimate; Households
percent_in_labor_force
percent_in_civilian_labor_force
percent_in_civilian_labor_force_employed
percent_in_civilian_labor_force_unemployed
percent_in_labor_force_armed_forces
percent_not_in_labor_force
percent_income_below_poverty_line
Total Health Spending
Footnotes
Medicinal
Decriminalized
State Laws
Republican/lean Rep.
No lean
Democrat/lean Dem.

In [170]:
cols_to_convert = ['Employment/Population Ratio; Estimate; AGE - 16 to 19 years', 'Employment/Population Ratio; Estimate; AGE - 25 to 29 years', 'Employment/Population Ratio; Estimate; AGE - 30 to 34 years', 'Employment/Population Ratio; Estimate; AGE - 75 years and over', 'percent_income_below_poverty_line', 'Total Health Spending', 'SMHA Expenditures Per Capita', 'share_medical_debt_collections', 'median_medical_debt_collections', 'share_student_loan_debt', 'median_student_loan_debt', 'share_with_auto_debt', 'share_with_auto_or_retail_debt', 'auto_retail_debt_delinquency_rate']

In [171]:
#want to fill in nan values with dummy value so column types can be converted to float 
#check if arbitrarily chosen number 1000 is in any columns as an actual value 
merged_data.isin([1000]).sum()

index                                                                  0
rate_avg                                                               0
prescriptions_per_100                                                  0
uninsured_2015                                                         0
uninsured_2016                                                         0
uninsured_2017                                                         0
population_estimate                                                    0
state                                                                  0
abbreviation                                                           0
latitude                                                               0
longitude                                                              0
Pop <5                                                                 0
Pop 5-9                                                                0
Pop 10-14                                                              0
Pop 15-19                                                              0
Pop 20-24                                                              0
Pop 25-29                                                              0
Pop 30-34                                                              0
Pop 35-39                                                              0
Pop 40-44                                                              0
Pop 45-49                                                              0
Pop 50-54                                                              0
Pop 55-59                                                              0
Pop 60-64                                                              0
Pop 65-69                                                              0
Pop 70-74                                                              0
Pop 75-79                                                              0
Pop 80-84                                                              0
Pop 85+                                                                0
median age                                                             0
Employment/Population Ratio; Estimate; AGE - 16 to 19 years            0
Employment/Population Ratio; Estimate; AGE - 20 to 24 years            0
Employment/Population Ratio; Estimate; AGE - 25 to 29 years            0
Employment/Population Ratio; Estimate; AGE - 30 to 34 years            0
Employment/Population Ratio; Estimate; AGE - 35 to 44 years            0
Employment/Population Ratio; Estimate; AGE - 45 to 54 years            0
Employment/Population Ratio; Estimate; AGE - 55 to 59 years            0
Employment/Population Ratio; Estimate; AGE - 60 to 64 years            0
Employment/Population Ratio; Estimate; AGE - 65 to 74 years            0
Employment/Population Ratio; Estimate; AGE - 75 years and over         0
Percent households receiving food stamps/SNAP; Estimate; Households    0
percent_in_labor_force                                                 0
percent_in_civilian_labor_force                                        0
percent_in_civilian_labor_force_employed                               0
percent_in_civilian_labor_force_unemployed                             0
percent_in_labor_force_armed_forces                                    0
percent_not_in_labor_force                                             0
percent_income_below_poverty_line                                      0
Total Health Spending                                                  0
Footnotes                                                              0
Medicinal                                                              0
Decriminalized                                                         0
State Laws                                                             0
Republican/lean Rep.                                                   0
No lean                                                                0
Democrat/lean Dem.                                                     0
dtype: int64

###### Determined that there are no columns that contain the value 1000. Check column value counts to view unique values present. For all columns with missing values, temporarily convert these values to 1000 in order to allow for changing the column type to float.

In [172]:
#convert non-float columns to float so that all numerical columns are float 
def convert_to_float(col):
    for i in range(len(merged_data[col])):
        merged_data[col][i] = float(merged_data[col][i])

In [182]:
for col in ['Employment/Population Ratio; Estimate; AGE - 16 to 19 years', 'Employment/Population Ratio; Estimate; AGE - 25 to 29 years', 'Employment/Population Ratio; Estimate; AGE - 30 to 34 years', 'Employment/Population Ratio; Estimate; AGE - 75 years and over']: 
    for i in range(len(merged_data[col])): 
        if merged_data[col][i] == '-':
            merged_data[col][i] = 1000
    convert_to_float(col)

In [ ]:
for col in ['percent_income_below_poverty_line']: 
    for i in range(len(merged_data[col])): 
            if merged_data[col][i] == '-':
                merged_data[col][i] = 1000
    convert_to_float(col)

In [ ]:
for col in ['SMHA Expenditures Per Capita']: 
    for i in range(len(merged_data[col])): 
            if merged_data[col][i] == '-':
                merged_data[col][i] = 1000
            if merged_data[col][i] == 'NR':
                merged_data[col][i] = 1000
            if type(merged_data[col][i]) == str: 
                if '$' in merged_data[col][i]:
                    merged_data[col][i] = merged_data[col][i].replace('$','')
    convert_to_float(col)

In [ ]:
number_columns = ['index', 'rate_avg', 'prescriptions_per_100',
       'uninsured_2015', 'uninsured_2016', 'uninsured_2017',
       'population_estimate', 'Pop <5', 'Pop 5-9', 'Pop 10-14', 'Pop 15-19',
       'Pop 20-24', 'Pop 25-29', 'Pop 30-34', 'Pop 35-39', 'Pop 40-44',
       'Pop 45-49', 'Pop 50-54', 'Pop 55-59', 'Pop 60-64', 'Pop 65-69',
       'Pop 70-74', 'Pop 75-79', 'Pop 80-84', 'Pop 85+', 'median age',
       'Employment/Population Ratio; Estimate; AGE - 16 to 19 years',
       'Employment/Population Ratio; Estimate; AGE - 20 to 24 years',
       'Employment/Population Ratio; Estimate; AGE - 25 to 29 years',
       'Employment/Population Ratio; Estimate; AGE - 30 to 34 years',
       'Employment/Population Ratio; Estimate; AGE - 35 to 44 years',
       'Employment/Population Ratio; Estimate; AGE - 45 to 54 years',
       'Employment/Population Ratio; Estimate; AGE - 55 to 59 years',
       'Employment/Population Ratio; Estimate; AGE - 60 to 64 years',
       'Employment/Population Ratio; Estimate; AGE - 65 to 74 years',
       'Employment/Population Ratio; Estimate; AGE - 75 years and over',
       'Percent households receiving food stamps/SNAP; Estimate; Households',
       'percent_in_labor_force', 'percent_in_civilian_labor_force',
       'percent_in_civilian_labor_force_employed',
       'percent_in_civilian_labor_force_unemployed',
       'percent_in_labor_force_armed_forces', 'percent_not_in_labor_force',
       'percent_income_below_poverty_line', 'Total Health Spending']

In [ ]:
merged_data = merged_data.drop(['state','abbreviation','latitude','longitude', 'high_school_grad', 'some college', 'associates', 'bachelors', 'graduate_professional', 'Footnotes', ], axis=1)

In [ ]:
#pickle converted data so above steps do not need to be redone 
merged_data.to_pickle('data/post_float_conversion_data.pkl')

In [207]:
post_float_conversion = pd.read_pickle('data/post_float_conversion_data.pkl')

In [208]:
post_float_conversion.head()

,index,rate_avg,prescriptions_per_100,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,Pop <5,Pop 5-9,Pop 10-14,...,percent_not_in_labor_force,percent_income_below_poverty_line,Total Health Spending,SMHA Expenditures Per Capita,Medicinal,Decriminalized,State Laws,Republican/lean Rep.,No lean,Democrat/lean Dem.
0,"Autauga County, AL",10.95,129.6,0.128,0.134,0.110,55049.0,5.8,6.9,7.7,...,39.1,16.5,$35263,72.64,No,No,View State Laws,52%,13%,35%
1,"Baldwin County, AL",20.95,123.8,0.158,0.175,0.161,199510.0,5.7,6.3,6.3,...,41.4,18.2,$35263,72.64,No,No,View State Laws,52%,13%,35%
2,"Barbour County, AL",6.95,92.7,0.175,0.174,0.153,26614.0,5.5,6.4,6.0,...,52.0,44.8,$35263,72.64,No,No,View State Laws,52%,13%,35%
3,"Bibb County, AL",16.95,97.2,0.151,0.150,0.136,22572.0,5.1,5.2,6.7,...,51.3,25.9,$35263,72.64,No,No,View State Laws,52%,13%,35%
4,"Blount County, AL",16.95,56.9,0.183,0.176,0.165,57704.0,6.1,6.6,6.8,...,50.1,26.3,$35263,72.64,No,No,View State Laws,52%,13%,35%

In [209]:
post_float_conversion = post_float_conversion.drop(['SMHA Expenditures Per Capita'], axis=1)

###### As done in the initial data, functions to handle missing county-level data, so this method can be reused on other feature variables in which there is missing data. For every county in which there is missing data, fill in data based on the average value for the respective state.

In [211]:
#add values to lists corresponding to each state in missing_states_dict 
def find_state_values(state, column_name, missing_states_dict, dataframe):
    for i in range(len(dataframe)):
        if dataframe['index'][i][-2:] == state:
            if type(dataframe[column_name][i]) != str: 
                if dataframe[column_name][i] != 1000: 
                    missing_states_dict[state].append(dataframe[column_name][i])
    return missing_states_dict

#find average value of each list in missing_states dict and the resulting number is the average value for each state    
def find_avg(state, missing_states_dict):  
    missing_states_dict[state] = sum(missing_states_dict[state])/len(missing_states_dict[state])
    return missing_states_dict
    
#for any county with missing value, add the corresponding average value for respective state
def add_missing_val(state, column_name, missing_states_dict, dataframe):
    for i in range(len(dataframe)):
            if pd.isnull(dataframe[column_name].iloc[i]):
                dataframe.set_value(i, column_name, missing_states_dict[state])
            if dataframe[column_name][i]==1000:
                dataframe.set_value(i, column_name, missing_states_dict[state])

In [212]:
#fill in null values with above functions for all numerical columns
for col in number_columns:
    null = merged_data.loc[merged_data[str(col)].isnull()]
    missing_counties = null['index'].value_counts().index.tolist()
    missing_states = [county[-2:] for county in missing_counties]

    missing_states_dict = {} 
    for state in missing_states: 
        missing_states_dict[state] = []
        missing_states_dict = find_state_values(state, str(col), missing_states_dict, post_float_conversion)

    for state in missing_states_dict: 
        find_avg(str(state), missing_states_dict)

    for state in missing_states:
        add_missing_val(state, str(col), missing_states_dict, post_float_conversion)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [79]:
post_float_conversion.to_pickle('no_nans.pkl')

In [505]:
clean_data= pd.read_pickle('clean_data.pkl')

In [506]:
clean_data.head()

,index,rate_avg,prescriptions_per_100,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,Pop <5,Pop 5-9,Pop 10-14,...,median_student_loan_debt,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate,Medicinal,Decriminalized,State Laws,Republican/lean Rep.,No lean,Democrat/lean Dem.
0,"Autauga County, AL",10.95,129.6,0.128,0.134,0.110,55049.0,5.8,6.9,7.7,...,19441,0.27,0.35,0.09,No,No,View State Laws,52%,13%,35%
1,"Baldwin County, AL",20.95,123.8,0.158,0.175,0.161,199510.0,5.7,6.3,6.3,...,13964,0.33,0.39,0.05,No,No,View State Laws,52%,13%,35%
2,"Barbour County, AL",6.95,92.7,0.175,0.174,0.153,26614.0,5.5,6.4,6.0,...,0.0536975,0.26,0.38,0.19,No,No,View State Laws,52%,13%,35%
3,"Bibb County, AL",16.95,97.2,0.151,0.150,0.136,22572.0,5.1,5.2,6.7,...,0.0536975,0.31,0.4,0.12,No,No,View State Laws,52%,13%,35%
4,"Blount County, AL",16.95,56.9,0.183,0.176,0.165,57704.0,6.1,6.6,6.8,...,11128,0.28,0.37,0.07,No,No,View State Laws,52%,13%,35%

#### Investigate values for categorical features

In [509]:
clean_data['Medicinal'] = clean_data['Medicinal'].astype(str)
clean_data['Medicinal'].value_counts()

No     1714
Yes    1421
Name: Medicinal, dtype: int64

In [510]:
clean_data['Decriminalized'] = clean_data['Decriminalized'].astype(str)
clean_data['Decriminalized'].value_counts()

No         1991
Reduced     779
Yes         365
Name: Decriminalized, dtype: int64

In [511]:
clean_data['State Laws'].value_counts()

View State Laws    3135
Name: State Laws, dtype: int64

In [512]:
clean_data = clean_data.drop(['State Laws'], axis=1)

In [513]:
clean_data['Republican/lean Rep.'].value_counts()

41%    597
39%    435
42%    252
43%    234
44%    202
46%    180
33%    141
37%    117
49%    100
48%     95
47%     93
30%     83
34%     83
45%     77
52%     67
28%     67
53%     66
50%     53
32%     44
54%     29
31%     24
57%     23
29%     17
36%     16
40%     15
27%     14
35%     10
11%      1
Name: Republican/lean Rep., dtype: int64

In [514]:
# Remove percent sign next to numbers
clean_data['Republican/lean Rep.'] = clean_data['Republican/lean Rep.'].apply(lambda x: x.replace('%', ''))
clean_data['No lean'] = clean_data['No lean'].apply(lambda x: x.replace('%', ''))
clean_data['Democrat/lean Dem.'] = clean_data['Democrat/lean Dem.'].apply(lambda x: x.replace('%', ''))

In [515]:
clean_data['Republican/lean Rep.'] = clean_data['Republican/lean Rep.'].astype(float)
clean_data['Republican/lean Rep.'].value_counts()

41.0    597
39.0    435
42.0    252
43.0    234
44.0    202
46.0    180
33.0    141
37.0    117
49.0    100
48.0     95
47.0     93
30.0     83
34.0     83
45.0     77
52.0     67
28.0     67
53.0     66
50.0     53
32.0     44
54.0     29
31.0     24
57.0     23
29.0     17
36.0     16
40.0     15
27.0     14
35.0     10
11.0      1
Name: Republican/lean Rep., dtype: int64

In [516]:
clean_data['No lean'] = clean_data['No lean'].astype(float)
clean_data['No lean'].value_counts()

18.0    642
19.0    477
21.0    419
15.0    360
16.0    295
17.0    286
13.0    187
23.0    144
14.0    120
20.0    107
10.0     66
29.0     27
22.0      5
Name: No lean, dtype: int64

In [517]:
clean_data['Democrat/lean Dem.'] = clean_data['Democrat/lean Dem.'].astype(float)
clean_data['Democrat/lean Dem.'].value_counts()

40.0    518
42.0    329
43.0    284
41.0    214
39.0    194
36.0    188
46.0    171
37.0    158
48.0    140
47.0    135
44.0    116
31.0    105
30.0     85
38.0     75
32.0     71
35.0     67
53.0     62
49.0     58
33.0     53
55.0     27
51.0     25
25.0     23
56.0     14
57.0     14
50.0      8
73.0      1
Name: Democrat/lean Dem., dtype: int64

In [518]:
clean_data['Total Health Spending'].value_counts()

$188559    254
$66447     159
$62847     133
$35323     120
$49137     115
$22183     105
$106306    102
$72160     100
$25487      99
$48249      95
$15823      93
$54741      92
$101013     88
$48377      87
$79874      83
$22879      82
$29575      77
$21980      75
$50109      72
$118419     67
$160624     67
$35263      67
$7616       66
$36324      64
$192809     62
$36398      60
$291989     58
$8409       56
$17491      55
$7289       53
$35299      46
$11315      44
$55819      39
$31920      36
$15027      33
$17597      29
$8151       27
$51330      24
$4856       23
$79066      20
$19020      17
$12684      16
$43356      15
$71274      14
$6389       14
$12742      10
$35413       8
$10338       5
$10071       5
$9587        3
$7871        1
Name: Total Health Spending, dtype: int64

In [519]:
# Remove dollar sign from numbers 
clean_data['Total Health Spending'] = clean_data['Total Health Spending'].apply(lambda x: x.replace('$', ''))

In [520]:
clean_data['Total Health Spending'] = clean_data['Total Health Spending'].astype(float)
clean_data['Total Health Spending'].value_counts()

188559.0    254
66447.0     159
62847.0     133
35323.0     120
49137.0     115
22183.0     105
106306.0    102
72160.0     100
25487.0      99
48249.0      95
15823.0      93
54741.0      92
101013.0     88
48377.0      87
79874.0      83
22879.0      82
29575.0      77
21980.0      75
50109.0      72
118419.0     67
160624.0     67
35263.0      67
7616.0       66
36324.0      64
192809.0     62
36398.0      60
291989.0     58
8409.0       56
17491.0      55
7289.0       53
35299.0      46
11315.0      44
55819.0      39
31920.0      36
15027.0      33
17597.0      29
8151.0       27
51330.0      24
4856.0       23
79066.0      20
19020.0      17
12684.0      16
43356.0      15
71274.0      14
6389.0       14
12742.0      10
35413.0       8
10338.0       5
10071.0       5
9587.0        3
7871.0        1
Name: Total Health Spending, dtype: int64

In [521]:
clean_data.to_csv('clean_data.csv')

## Feature Enginering and Adding Features

In [522]:
clean_data = pd.read_csv('clean_data.csv')

In [523]:
clean_data.head()

,Unnamed: 0,index,rate_avg,prescriptions_per_100,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,Pop <5,Pop 5-9,...,share_student_loan_debt,median_student_loan_debt,share_with_auto_debt,share_with_auto_or_retail_debt,auto_retail_debt_delinquency_rate,Medicinal,Decriminalized,Republican/lean Rep.,No lean,Democrat/lean Dem.
0,0,"Autauga County, AL",10.95,129.6,0.128,0.134,0.110,55049.0,5.8,6.9,...,0.16,19441.000000,0.27,0.35,0.09,No,No,52.0,13.0,35.0
1,1,"Baldwin County, AL",20.95,123.8,0.158,0.175,0.161,199510.0,5.7,6.3,...,0.14,13964.000000,0.33,0.39,0.05,No,No,52.0,13.0,35.0
2,2,"Barbour County, AL",6.95,92.7,0.175,0.174,0.153,26614.0,5.5,6.4,...,0.10,0.053697,0.26,0.38,0.19,No,No,52.0,13.0,35.0
3,3,"Bibb County, AL",16.95,97.2,0.151,0.150,0.136,22572.0,5.1,5.2,...,0.11,0.053697,0.31,0.40,0.12,No,No,52.0,13.0,35.0
4,4,"Blount County, AL",16.95,56.9,0.183,0.176,0.165,57704.0,6.1,6.6,...,0.10,11128.000000,0.28,0.37,0.07,No,No,52.0,13.0,35.0

In [524]:
clean_data = clean_data.drop(['Unnamed: 0','median_student_loan_debt'], axis=1)

In [525]:
#bucketing population age
clean_data['Under 30'] = clean_data.apply(lambda row: row['Pop <5'] + row['Pop 5-9'] + row['Pop 10-14'] + row['Pop 15-19'] + row['Pop 20-24'] + row['Pop 25-29'], axis=1)
clean_data['30 to 44'] = clean_data.apply(lambda row: row['Pop 30-34'] + row['Pop 35-39'] + row['Pop 40-44'], axis=1)
clean_data['45 to 64'] = clean_data.apply(lambda row: row['Pop 45-49'] + row['Pop 50-54'] + row['Pop 55-59'] + row['Pop 60-64'], axis=1)
clean_data['65 and over'] = clean_data.apply(lambda row: row['Pop 65-69'] + row['Pop 70-74'] + row['Pop 75-79'] + row['Pop 80-84'] + row['Pop 85+'], axis=1)

In [526]:
clean_data['yoy_change_uninsured'] = clean_data.apply(lambda row: (row['uninsured_2016']-row['uninsured_2015'])/row['uninsured_2015'], axis=1)

In [527]:
#add religion data 
religion = pd.read_excel('data/religion.xlsx')
religion_data = religion[['TOTCG', 'TOTAD', 'ADJAD', 'TOTRT', 'ADJRATE', 'COUNTY', 'STATEAB']]
religion_data.columns = ['total_num_congregations', 'total_num_adherents', 'adjusted_total_num_adherents', 'total_adherence_per_1k', 'adjusted_adherence_per_1k', 'county', 'state_abbreviation']
religion_data['county'] = religion_data['county'] + ' County, ' + religion_data['state_abbreviation']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [528]:
clean_data = clean_data.merge(religion_data, left_on='index', right_on='county')
clean_data = clean_data.drop(['county', 'state_abbreviation'], axis=1)

In [529]:
#add fentanyl seizure data
fentanyl_seizures = pd.read_csv('data/fentanyl_state_level.csv')
fentanyl_seizures = fentanyl_seizures.loc[fentanyl_seizures['YEAR']==2016]
fentanyl_seizures.columns = ['statefp', 'state', 'state_abbrev', 'year', 'indicator', 'fentanyl_seizures']
fentanyl_seizures['fentanyl_seizures'] = fentanyl_seizures['fentanyl_seizures'].fillna(fentanyl_seizures['fentanyl_seizures'].mean())

In [530]:
clean_data['abbrev'] = clean_data['index'].str.slice(-2)
clean_data = clean_data.merge(fentanyl_seizures, left_on='abbrev', right_on='state_abbrev')

In [531]:
#add non-medical opioid use data
non_med = pd.read_csv('data/non_med_use.csv')
non_med['county_state'] = non_med['COUNTY'] + ', ' + non_med['STATEABBREVIATION']
non_omed.columns = ['statefp', 'countyfp', 'year', 'indicator', 'non_med', 'state', 'state_abbrev', 'county', 'county_state']

In [532]:
non_med['for_merge'] = non_med['county'] + ', ' + non_med['state']

In [533]:
#add employment industry data 
industry = pd.read_csv('data/industry_data.csv', encoding='latin-1', header=1)

columns_to_keep = []
for col in industry.columns.tolist():
    if 'Estimate; Total:' in col: 
        columns_to_keep.append(col)
        
columns_to_keep.append('Geography')

industry = industry[columns_to_keep]

industry = industry[['Geography','Estimate; Total:','Estimate; Total: - Agriculture, forestry, fishing and hunting, and mining','Estimate; Total: - Construction','Estimate; Total: - Manufacturing','Estimate; Total: - Wholesale trade','Estimate; Total: - Retail trade','Estimate; Total: - Transportation and warehousing, and utilities','Estimate; Total: - Information','Estimate; Total: - Finance and insurance, and real estate and rental and leasing','Estimate; Total: - Professional, scientific, and management, and administrative and waste management services','Estimate; Total: - Educational services, and health care and social assistance','Estimate; Total: - Arts, entertainment, and recreation, and accommodation and food services','Estimate; Total: - Other services, except public administration','Estimate; Total: - Public administration']]

In [535]:
#bucket employment industries based on potentially dangerous industries
industry['pot_dangerous_industries'] = industry['Estimate; Total: - Agriculture, forestry, fishing and hunting, and mining'] + industry['Estimate; Total: - Construction'] + industry['Estimate; Total: - Manufacturing'] + industry['Estimate; Total: - Transportation and warehousing, and utilities'] 
industry['pot_dangerous_industries'] = industry['pot_dangerous_industries'] / industry['Estimate; Total:']

industry = industry[['Geography', 'pot_dangerous_industries']]

industry.head()

                 Geography  pot_dangerous_industries
0  Autauga County, Alabama                  0.266672
1  Baldwin County, Alabama                  0.232995
2  Barbour County, Alabama                  0.396864
3     Bibb County, Alabama                  0.398731
4   Blount County, Alabama                  0.354791

In [536]:
non_med = non_med.merge(industry, left_on='for_merge', right_on='Geography')

In [537]:
non_med.head()

,statefp,countyfp,year,indicator,non_med,state,state_abbrev,county,county_state,for_merge,Geography,pot_dangerous_industries
0,1,1,2014,nonmedpain,5.12,Alabama,AL,Autauga County,"Autauga County, AL","Autauga County, Alabama","Autauga County, Alabama",0.266672
1,1,3,2014,nonmedpain,5.27,Alabama,AL,Baldwin County,"Baldwin County, AL","Baldwin County, Alabama","Baldwin County, Alabama",0.232995
2,1,5,2014,nonmedpain,5.27,Alabama,AL,Barbour County,"Barbour County, AL","Barbour County, Alabama","Barbour County, Alabama",0.396864
3,1,7,2014,nonmedpain,5.62,Alabama,AL,Bibb County,"Bibb County, AL","Bibb County, Alabama","Bibb County, Alabama",0.398731
4,1,9,2014,nonmedpain,5.62,Alabama,AL,Blount County,"Blount County, AL","Blount County, Alabama","Blount County, Alabama",0.354791

In [538]:
non_med.shape

(3203, 12)

In [539]:
non_med.isna().sum()

statefp                      0
countyfp                     0
year                         0
indicator                    0
non_med                     63
state                        0
state_abbrev                 0
county                       0
county_state                 0
for_merge                    0
Geography                    0
pot_dangerous_industries     0
dtype: int64

In [540]:
clean_data = clean_data.merge(non_med, left_on='index', right_on='county_state')

In [541]:
#add family relationship data
family_status = pd.read_csv('data/family_status.csv', encoding='latin-1', header=1)
family_status.columns.tolist()
family_status = family_status[['Geography', 'Total; Estimate; Total households', 'Married-couple family household; Estimate; Total households', 'Male householder, no wife present, family household; Estimate; Total households', 'Female householder, no husband present, family household; Estimate; Total households', 'Total; Estimate; HOUSING TENURE - Renter-occupied housing units', 'Nonfamily household; Estimate; Total households']]
family_status['state'] = family_status['Geography'].apply(lambda x: x.split(', ')[1])

In [542]:
states_abbreviations = pd.read_html('https://developers.google.com/public-data/docs/canonical/states_csv', header=0)[0]
states_abbreviations.columns = ['abbreviation', 'latitude', 'longitude', 'state']

In [543]:
family_status = pd.merge(family_status, states_abbreviations, on='state')
family_status['county_state'] = family_status['Geography'].apply(lambda x: x.split(', ')[0]) + ', ' + family_status['abbreviation']

In [544]:
clean_data = clean_data.merge(family_status, left_on='index', right_on='county_state')

In [545]:
clean_data['hh_to_pop'] = clean_data['Total; Estimate; Total households'] / clean_data['population_estimate']
clean_data['married_to_total_hh'] = clean_data['Married-couple family household; Estimate; Total households'] / clean_data['Total; Estimate; Total households'] 
clean_data['single_male_to_total_hh'] = clean_data['Male householder, no wife present, family household; Estimate; Total households'] / clean_data['Total; Estimate; Total households'] 
clean_data['single_female_to_total_hh'] = clean_data['Female householder, no husband present, family household; Estimate; Total households'] / clean_data['Total; Estimate; Total households']  
clean_data['renter_to_total_hh'] = clean_data['Total; Estimate; HOUSING TENURE - Renter-occupied housing units'] /clean_data['Total; Estimate; Total households'] 
clean_data['nonfamily_to_total_hh'] = clean_data['Nonfamily household; Estimate; Total households'] /clean_data['Total; Estimate; Total households']

In [546]:
#add urbanization data 
urbanization_data = pd.read_csv('data/urbanization_data.csv', encoding='latin-1', header=1)
urbanization_data['split'] = urbanization_data['Geographic area'].apply(lambda x: x.split('-'))
urbanization_data['split'] = urbanization_data['split'].apply(lambda x: x[1] if len(x)>1 else None)
urbanization_data['split'] = urbanization_data['split'].apply(lambda x: x.replace(' ','') if x != None else None)
urbanization_data = urbanization_data.merge(states_abbreviations, left_on='split', right_on='state', how='outer')
urbanization_data['county_state'] = urbanization_data['Geographic area.1'] + ', ' + urbanization_data['abbreviation']
urbanization_data = urbanization_data[['county_state', 'Density per square mile of land area - Population', 'Density per square mile of land area - Housing units']]

In [547]:
clean_data = clean_data.merge(urbanization_data, left_on='index', right_on='county_state')

In [548]:
#add median income data
median_income = pd.read_csv('data/median_income.csv', encoding='latin-1', header=1)
median_income = median_income[['Geography', 'Total; Estimate; Households']]
median_income['state'] = median_income['Geography'].apply(lambda x: x.split(',')[1].replace(' ', ''))
median_income = pd.merge(median_income, states_abbreviations, on='state')
median_income['county_state'] = median_income['Geography'].apply(lambda x: x.split(',')[0]) + ', ' + median_income['abbreviation']
median_income = median_income[['Total; Estimate; Households', 'county_state']]
median_income.columns = ['median income', 'county_state']

In [549]:
clean_data = clean_data.merge(median_income, left_on='index', right_on='county_state')

In [550]:
#add race data
race = pd.read_csv('data/race.csv', encoding='latin-1', header=1)
race = race[['Geography', 'Estimate; Total: - White alone', 'Estimate; Total: - Black or African American alone', 'Estimate; Total: - American Indian and Alaska Native alone', 'Estimate; Total: - Asian alone', 'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone', 'Estimate; Total: - Some other race alone', 'Estimate; Total: - Two or more races:']]
race.columns = ['geography', 'pop_white', 'pop_black', 'pop_native_american', 'pop_asian', 'pop_pac_islander', 'pop_ohter race', 'pop_two_more_races']
race['state'] = race['geography'].apply(lambda x: x.split(',')[1].replace(' ', ''))
race = pd.merge(race, states_abbreviations, on='state')
race['county_state'] = race['geography'].apply(lambda x: x.split(',')[0]) + ', ' + race['abbreviation']

In [552]:
clean_data = clean_data.merge(race, left_on='index', right_on='county_state')
clean_data['non_med'] = clean_data['non_med'].fillna(clean_data['non_med'].mean())

clean_data['prop_white'] = clean_data['pop_white'] / clean_data['population_estimate']
clean_data['prop_black'] = clean_data['pop_black'] / clean_data['population_estimate']
clean_data['prop_native_american'] = clean_data['pop_native_american'] / clean_data['population_estimate']
clean_data['pop_asian'] = clean_data['pop_asian'] / clean_data['population_estimate']
clean_data['pop_pac_islander'] = clean_data['pop_pac_islander'] / clean_data['population_estimate']
clean_data['pop_other_race'] = clean_data['pop_ohter race'] / clean_data['population_estimate']
clean_data['pop_two_more_races'] = clean_data['pop_two_more_races'] / clean_data['population_estimate']

clean_data = clean_data.drop(['index', 'abbrev', 'statefp_x', 'state_x', 'state_abbrev_x', 'year_x', 'indicator_x', 'statefp_y', 'countyfp', 'year_y', 'indicator_y', 'state_y', 'state_abbrev_y', 'county', 'county_state_x', 'Geography_x', 'Geography_y', 'Total; Estimate; Total households', 'Married-couple family household; Estimate; Total households', 'Male householder, no wife present, family household; Estimate; Total households', 'Female householder, no husband present, family household; Estimate; Total households', 'Total; Estimate; HOUSING TENURE - Renter-occupied housing units', 'Nonfamily household; Estimate; Total households', 'state_x', 'abbreviation_x', 'latitude_x', 'longitude_x', 'county_state_y', 'county_state_x', 'county_state_y', 'geography', 'state_y', 'abbreviation_y'], axis=1)

clean_data = clean_data.drop(['Pop <5', 'Pop 5-9', 'Pop 10-14', 'Pop 15-19', 'Pop 20-24', 'Pop 25-29', 'Pop 30-34', 'Pop 35-39', 'Pop 40-44', 'Pop 45-49', 'Pop 50-54', 'Pop 55-59', 'Pop 60-64', 'Pop 65-69', 'Pop 70-74', 'Pop 75-79', 'Pop 80-84', 'Pop 85+'], axis=1)

#### Set category for target variable based on mean

In [553]:
clean_data['rate_avg'].mean()

16.296762018275725

In [555]:
clean_data['rate_avg'] = clean_data['rate_avg'].apply(lambda x: 1 if x > 16.297 else 0)

In [556]:
clean_data['rate_avg'].value_counts()

0    1338
1    1179
Name: rate_avg, dtype: int64

In [557]:
clean_data.head()

,rate_avg,prescriptions_per_100,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,median age,Employment/Population Ratio; Estimate; AGE - 16 to 19 years,Employment/Population Ratio; Estimate; AGE - 20 to 24 years,Employment/Population Ratio; Estimate; AGE - 25 to 29 years,...,pop_pac_islander,pop_ohter race,pop_two_more_races,latitude_y,longitude_y,county_state,prop_white,prop_black,prop_native_american,pop_other_race
0,0,129.6,0.128,0.134,0.110,55049.0,37.8,21.7,71.2,77.6,...,0.000563,764,0.019564,32.318231,-86.902298,"Autauga County, AL",0.768606,0.185217,0.004105,0.013879
1,1,123.8,0.158,0.175,0.161,199510.0,42.3,33.9,71.7,69.7,...,0.000000,1766,0.020129,32.318231,-86.902298,"Baldwin County, AL",0.864323,0.093198,0.006792,0.008852
2,0,92.7,0.175,0.174,0.153,26614.0,38.7,14.6,46.7,45.7,...,0.000000,1099,0.005786,32.318231,-86.902298,"Barbour County, AL",0.467047,0.479297,0.001728,0.041294
3,1,97.2,0.151,0.150,0.136,22572.0,40.2,12.9,42.7,48.6,...,0.000000,8,0.013778,32.318231,-86.902298,"Bibb County, AL",0.769537,0.212121,0.003589,0.000354
4,1,56.9,0.183,0.176,0.165,57704.0,40.8,19.0,53.3,64.8,...,0.000000,501,0.016151,32.318231,-86.902298,"Blount County, AL",0.954405,0.015683,0.003483,0.008682

In [558]:
clean_data.shape

(2517, 75)

In [559]:
clean_data.isna().sum()

rate_avg                                                               0
prescriptions_per_100                                                  0
uninsured_2015                                                         0
uninsured_2016                                                         0
uninsured_2017                                                         0
population_estimate                                                    0
median age                                                             0
Employment/Population Ratio; Estimate; AGE - 16 to 19 years            0
Employment/Population Ratio; Estimate; AGE - 20 to 24 years            0
Employment/Population Ratio; Estimate; AGE - 25 to 29 years            0
Employment/Population Ratio; Estimate; AGE - 30 to 34 years            0
Employment/Population Ratio; Estimate; AGE - 35 to 44 years            0
Employment/Population Ratio; Estimate; AGE - 45 to 54 years            0
Employment/Population Ratio; Estimate; AGE - 55 to 59 years            0
Employment/Population Ratio; Estimate; AGE - 60 to 64 years            0
Employment/Population Ratio; Estimate; AGE - 65 to 74 years            0
Employment/Population Ratio; Estimate; AGE - 75 years and over         0
Percent households receiving food stamps/SNAP; Estimate; Households    0
percent_in_labor_force                                                 0
percent_in_civilian_labor_force                                        0
percent_in_civilian_labor_force_employed                               0
percent_in_civilian_labor_force_unemployed                             0
percent_in_labor_force_armed_forces                                    0
percent_not_in_labor_force                                             0
percent_income_below_poverty_line                                      0
Total Health Spending                                                  0
SMHA Expenditures Per Capita                                           0
share_medical_debt_collections                                         0
median_medical_debt_collections                                        0
share_student_loan_debt                                                0
                                                                      ..
adjusted_total_num_adherents                                           0
total_adherence_per_1k                                                 0
adjusted_adherence_per_1k                                              0
fentanyl_seizures                                                      0
non_med                                                                0
for_merge                                                              0
pot_dangerous_industries                                               0
hh_to_pop                                                              0
married_to_total_hh                                                    0
single_male_to_total_hh                                                0
single_female_to_total_hh                                              0
renter_to_total_hh                                                     0
nonfamily_to_total_hh                                                  0
Density per square mile of land area - Population                      0
Density per square mile of land area - Housing units                   0
median income                                                          0
pop_white                                                              0
pop_black                                                              0
pop_native_american                                                    0
pop_asian                                                              0
pop_pac_islander                                                       0
pop_ohter race                                                         0
pop_two_more_races                                                     0
latitude_y                                                             0
longitude_y                                                            0
county_state                                                           0
prop_white                                                             0
prop_black                                                             0
prop_native_american                                                   0
pop_other_race                                                         0
Length: 75, dtype: int64

In [560]:
clean_data.head()

,rate_avg,prescriptions_per_100,uninsured_2015,uninsured_2016,uninsured_2017,population_estimate,median age,Employment/Population Ratio; Estimate; AGE - 16 to 19 years,Employment/Population Ratio; Estimate; AGE - 20 to 24 years,Employment/Population Ratio; Estimate; AGE - 25 to 29 years,...,pop_pac_islander,pop_ohter race,pop_two_more_races,latitude_y,longitude_y,county_state,prop_white,prop_black,prop_native_american,pop_other_race
0,0,129.6,0.128,0.134,0.110,55049.0,37.8,21.7,71.2,77.6,...,0.000563,764,0.019564,32.318231,-86.902298,"Autauga County, AL",0.768606,0.185217,0.004105,0.013879
1,1,123.8,0.158,0.175,0.161,199510.0,42.3,33.9,71.7,69.7,...,0.000000,1766,0.020129,32.318231,-86.902298,"Baldwin County, AL",0.864323,0.093198,0.006792,0.008852
2,0,92.7,0.175,0.174,0.153,26614.0,38.7,14.6,46.7,45.7,...,0.000000,1099,0.005786,32.318231,-86.902298,"Barbour County, AL",0.467047,0.479297,0.001728,0.041294
3,1,97.2,0.151,0.150,0.136,22572.0,40.2,12.9,42.7,48.6,...,0.000000,8,0.013778,32.318231,-86.902298,"Bibb County, AL",0.769537,0.212121,0.003589,0.000354
4,1,56.9,0.183,0.176,0.165,57704.0,40.8,19.0,53.3,64.8,...,0.000000,501,0.016151,32.318231,-86.902298,"Blount County, AL",0.954405,0.015683,0.003483,0.008682

In [561]:
clean_data = clean_data.drop(['Democrat/lean Dem.', 'Republican/lean Rep.', 'No lean'], axis=1)

In [562]:
clean_data['rate_avg'].value_counts()

0    1338
1    1179
Name: rate_avg, dtype: int64

In [564]:
clean_data['prop_congregations_pop'] = clean_data['total_num_congregations'] / clean_data['population_estimate']
clean_data['prop_adherents_pop'] = clean_data['total_num_adherents'] / clean_data['population_estimate']

In [566]:
clean_data = clean_data.drop(['total_num_congregations', 'total_num_adherents', 'adjusted_total_num_adherents', 'total_adherence_per_1k', 'adjusted_adherence_per_1k'], axis=1)

In [567]:
clean_data.to_pickle('data_with_geo.pkl')

In [568]:
clean_data.to_pickle('clean_added_data.pkl')